# Analysis of the Yelp Dataset
## Final Project for Data 620

In [1]:
import nltk
import matplotlib as plt
import matplotlib.pyplot as py
% matplotlib inline

In [2]:
import pandas as pd
from pandas.io.json import json_normalize
import io
import json
import seaborn as sns

In [3]:
from numpy import nan

In [4]:
path="C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset"

### 1. Business Attributes

#### 1.1 Data Cleaning

In [5]:
bus_loc=path+"/business.json"

In [6]:
bus_loc

'C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset/business.json'

In [25]:
with open(bus_loc, 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

In [26]:
data_json_str = "[" + ','.join(data) + "]"

# now, load it into pandas
data_df = pd.read_json(data_json_str)

In [35]:
bus_data=data_df.head(n=25000)

In [36]:
bus_data.tail(n=5)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
24995,2401 E Indian School Rd,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",3h-mTVH5zmyLQMUGkZwJfA,"Grocery, Coffee & Tea, Convenience Stores, Gas...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,33.494420,-112.029729,Circle K,85016,6,2.0,AZ
24996,4712 W Hwy 74,{u'BusinessAcceptsCreditCards': u'True'},-VR6Kb9j9P2kr5u6zZJhZg,"Oil Change Stations, Auto Parts & Supplies, Ca...",Monroe,"{u'Monday': u'9:0-20:0', u'Tuesday': u'9:0-20:...",1,35.048088,-80.615587,Union County Kia,28110,16,3.0,NC
24997,"507 Providence Rd, Crescent Corners","{u'BusinessParking': u'{'garage': False, 'stre...",p4VmOBPvdsZHxAmsTuMWvQ,"Hair Salons, Barbers, Cosmetics & Beauty Suppl...",Charlotte,"{u'Monday': u'10:0-20:0', u'Tuesday': u'10:0-2...",1,35.203487,-80.824446,Supercuts,28207,19,3.5,NC
24998,1827 Murray Ave,"{u'Alcohol': u'u'none'', u'HasTV': u'True', u'...",wUrnir4yQj4Lnta-jdqqxQ,"Specialty Food, Restaurants, Ethnic Food, Midd...",Pittsburgh,"{u'Tuesday': u'11:0-22:0', u'Wednesday': u'11:...",0,40.436364,-79.922875,Taza 21,15289,53,4.5,PA
24999,"163 Spadina Avenue, 3rd Floor","{u'Alcohol': u''full_bar'', u'HasTV': u'False'...",EEIz44ewHhOKmfTloAK13g,"Bars, Nightlife, Restaurants, French",Toronto,"{u'Tuesday': u'17:0-0:45', u'Friday': u'17:0-0...",1,43.648539,-79.395937,Alo Restaurant,M5V 2A5,231,4.5,ON

In [37]:
cats=bus_data['categories'].str.split(',',expand=True)

In [38]:
cats=cats.rename(columns={0:'ctg1',1:'ctg2',2:'ctg3',3:'ctg4',4:'ctg5',5:'ctg6',6:'ctg7',7:'ctg8'})

In [39]:
bus_data=bus_data.merge(cats,left_index=True,right_index=True)

In [40]:
bus_att=bus_data['attributes'].tolist()

In [46]:
att_detail=pd.DataFrame()
count=[]

In [47]:
for i in range(len(bus_att)):
    count.append(i)
    if bus_att[i] is None: 
        att_detail=att_detail.append(pd.Series(),ignore_index=True)
    else:
        att_detail=att_detail.append(json_normalize(bus_att[i]),sort='True')

In [48]:
att_detail.tail(n=5)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,u'none',"{'romantic': False, 'intimate': False, 'touris...",NaN,NaN,NaN,NaN,NaN,True,...,u'casual',True,False,1,False,NaN,True,NaN,NaN,u'no'
0,NaN,NaN,'full_bar',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,"{'monday': False, 'tuesday': False, 'friday': ...",True,NaN,NaN,...,u'dressy',False,True,4,True,True,False,u'no',NaN,u'no'

In [49]:
att_detail['index']=count

In [50]:
att_detail=att_detail.set_index('index')

In [51]:
#setup empty dataframe containers
amb_det=pd.DataFrame()
meal_det=pd.DataFrame()
amb_count=[]
meal_count=[]

In [52]:
# extract detailed data for 'ambience' and 'Good for meal'
for i in range(len(att_detail)):
    amb_count.append(i)
    if pd.isna(att_detail['Ambience'][i]) or (att_detail['Ambience'][i]=='None'): 
        amb_det=amb_det.append(pd.Series(),ignore_index=True)
    else:
        d = att_detail['Ambience'][i]
        d = d.replace('True', "'True'")
        d = d.replace('False',"'False'")
        d = d.replace("'", "\"")
        d = json.loads(d)
        d=pd.DataFrame.from_dict(d,orient='index')
        d=d.transpose()
        amb_det=amb_det.append(d,sort='True')

In [53]:
amb_det.tail(n=5)

      casual classy  divey hipster intimate romantic touristy trendy upscale
24995    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
24996    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
24997    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
0       True  False  False   False    False    False    False  False   False
0      False  False  False   False    False    False    False  False    True

In [68]:
#update the index
amb_det['index']=amb_count
amb_det=amb_det.set_index('index')

In [69]:
amb_det.tail(n=5)

      casual classy  divey hipster intimate romantic touristy trendy upscale
index
24995    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
24996    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
24997    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
24998   True  False  False   False    False    False    False  False   False
24999  False  False  False   False    False    False    False  False    True

In [70]:
# extract detailed data for 'ambience' and 'Good for meal'
for i in range(len(att_detail)):
    meal_count.append(i)
    if pd.isna(att_detail['GoodForMeal'][i]) or (att_detail['GoodForMeal'][i]=='None'): 
        meal_det=meal_det.append(pd.Series(),ignore_index=True)
    else:
        d = att_detail['GoodForMeal'][i]
        d = d.replace('True', "'True'")
        d = d.replace('False',"'False'")
        d = d.replace("'", "\"")
        d = json.loads(d)
        d=pd.DataFrame.from_dict(d,orient='index')
        d=d.transpose()
        meal_det=meal_det.append(d,sort='True')

In [72]:
meal_det.head(n=10)

  breakfast brunch dessert dinner latenight lunch
0       NaN    NaN     NaN    NaN       NaN   NaN
1     False  False   False   True     False  True
2     False  False   False   True     False  True
3       NaN    NaN     NaN    NaN       NaN   NaN
4       NaN    NaN     NaN    NaN       NaN   NaN
5       NaN    NaN     NaN    NaN       NaN   NaN
6       NaN    NaN     NaN    NaN       NaN   NaN
7       NaN    NaN     NaN    NaN       NaN   NaN
8       NaN    NaN     NaN    NaN       NaN   NaN
9       NaN    NaN     NaN    NaN       NaN   NaN

In [73]:
#update index 
meal_det['index']=meal_count
meal_det=meal_det.set_index('index')

In [74]:
#merge ambience and meal data
comb_det=amb_det.merge(meal_det,left_index=True,right_index=True)

In [76]:
comb_det.tail(n=5)

,casual,classy,divey,hipster,intimate,romantic,touristy,trendy,upscale,breakfast,brunch,dessert,dinner,latenight,lunch
index,,,,,,,,,,,,,,,
24995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24998,True,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
24999,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False

In [77]:
#merge combined meal and ambience dataframes with attribute detail
att_detail=att_detail.merge(comb_det,left_index=True,right_index=True)

In [78]:
#vliew all the attributes
att_detail.tail(n=5).transpose()

index,24995,24996,24997,24998,24999
AcceptsInsurance,NaN,NaN,NaN,NaN,NaN
AgesAllowed,NaN,NaN,NaN,NaN,NaN
Alcohol,NaN,NaN,NaN,u'none','full_bar'
Ambience,NaN,NaN,NaN,"{'romantic': False, 'intimate': False, 'touris...","{'romantic': False, 'intimate': False, 'classy..."
BYOB,NaN,NaN,NaN,NaN,NaN
BYOBCorkage,NaN,NaN,NaN,NaN,NaN
BestNights,NaN,NaN,NaN,NaN,"{'monday': False, 'tuesday': False, 'friday': ..."
BikeParking,False,NaN,True,NaN,True
BusinessAcceptsBitcoin,NaN,NaN,NaN,NaN,NaN
BusinessAcceptsCreditCards,True,True,True,True,NaN
BusinessParking,"{'garage': False, 'street': False, 'validated'...",NaN,"{'garage': False, 'street': False, 'validated'...","{'garage': False, 'street': True, 'validated':...","{'garage': False, 'street': True, 'validated':..."
ByAppointmentOnly,NaN,NaN,False,NaN,NaN
Caters,NaN,NaN,NaN,NaN,False
CoatCheck,NaN,NaN,NaN,NaN,True
Corkage,NaN,NaN,NaN,NaN,NaN
DietaryRestrictions,NaN,NaN,NaN,NaN,NaN
DogsAllowed,NaN,NaN,NaN,NaN,NaN
DriveThru,NaN,NaN,NaN,NaN,NaN
GoodForDancing,NaN,NaN,NaN,NaN,False
GoodForKids,NaN,NaN,True,True,False
GoodForMeal,NaN,NaN,NaN,NaN,"{'dessert': False, 'latenight': False, 'lunch'..."
HairSpecializesIn,NaN,NaN,NaN,NaN,NaN
HappyHour,NaN,NaN,NaN,NaN,False
HasTV,NaN,NaN,NaN,True,False
Music,NaN,NaN,NaN,NaN,"{'dj': False, 'background_music': True, 'jukeb..."
NoiseLevel,NaN,NaN,NaN,u'quiet',u'average'
OutdoorSeating,NaN,NaN,NaN,False,False
RestaurantsAttire,NaN,NaN,NaN,u'casual',u'dressy'
RestaurantsDelivery,NaN,NaN,NaN,True,False
RestaurantsGoodForGroups,NaN,NaN,NaN,False,True
RestaurantsPriceRange2,1,NaN,1,1,4
RestaurantsReservations,NaN,NaN,NaN,False,True
RestaurantsTableService,NaN,NaN,NaN,NaN,True
RestaurantsTakeOut,NaN,NaN,NaN,True,False
Smoking,NaN,NaN,NaN,NaN,u'no'
WheelchairAccessible,NaN,NaN,NaN,NaN,NaN
WiFi,NaN,NaN,NaN,u'no',u'no'
casual,NaN,NaN,NaN,True,False
classy,NaN,NaN,NaN,False,False
divey,NaN,NaN,NaN,False,False
hipster,NaN,NaN,NaN,False,False
intimate,NaN,NaN,NaN,False,False
romantic,NaN,NaN,NaN,False,False
touristy,NaN,NaN,NaN,False,False
trendy,NaN,NaN,NaN,False,False
upscale,NaN,NaN,NaN,False,True
breakfast,NaN,NaN,NaN,NaN,False
brunch,NaN,NaN,NaN,NaN,False
dessert,NaN,NaN,NaN,NaN,False
dinner,NaN,NaN,NaN,NaN,True
latenight,NaN,NaN,NaN,NaN,False
lunch,NaN,NaN,NaN,NaN,False

In [79]:
#merge the updated attributes data with the full dataframe
bus_data=bus_data.merge(att_detail,left_index=True,right_index=True)

In [81]:
#quick view of all the data frame detail
bus_data.tail(n=3).transpose()

,24997,24998,24999
address,"507 Providence Rd, Crescent Corners",1827 Murray Ave,"163 Spadina Avenue, 3rd Floor"
attributes,"{u'BusinessParking': u'{'garage': False, 'stre...","{u'Alcohol': u'u'none'', u'HasTV': u'True', u'...","{u'Alcohol': u''full_bar'', u'HasTV': u'False'..."
business_id,p4VmOBPvdsZHxAmsTuMWvQ,wUrnir4yQj4Lnta-jdqqxQ,EEIz44ewHhOKmfTloAK13g
categories,"Hair Salons, Barbers, Cosmetics & Beauty Suppl...","Specialty Food, Restaurants, Ethnic Food, Midd...","Bars, Nightlife, Restaurants, French"
city,Charlotte,Pittsburgh,Toronto
hours,"{u'Monday': u'10:0-20:0', u'Tuesday': u'10:0-2...","{u'Tuesday': u'11:0-22:0', u'Wednesday': u'11:...","{u'Tuesday': u'17:0-0:45', u'Friday': u'17:0-0..."
is_open,1,0,1
latitude,35.2035,40.4364,43.6485
longitude,-80.8244,-79.9229,-79.3959
name,Supercuts,Taza 21,Alo Restaurant
postal_code,28207,15289,M5V 2A5
review_count,19,53,231
stars,3.5,4.5,4.5
state,NC,PA,ON
ctg1,Hair Salons,Specialty Food,Bars
ctg2,Barbers,Restaurants,Nightlife
ctg3,Cosmetics & Beauty Supply,Ethnic Food,Restaurants
ctg4,Beauty & Spas,Middle Eastern,French
ctg5,Shopping,Food,None
ctg6,Hair Stylists,None,None
ctg7,Men's Hair Salons,None,None
ctg8,None,None,None
8,None,None,None
9,None,None,None
10,None,None,None
11,None,None,None
12,None,None,None
13,None,None,None
14,None,None,None
15,None,None,None
...,...,...,...
HappyHour,NaN,NaN,False
HasTV,NaN,True,False
Music,NaN,NaN,"{'dj': False, 'background_music': True, 'jukeb..."
NoiseLevel,NaN,u'quiet',u'average'
OutdoorSeating,NaN,False,False
RestaurantsAttire,NaN,u'casual',u'dressy'
RestaurantsDelivery,NaN,True,False
RestaurantsGoodForGroups,NaN,False,True
RestaurantsPriceRange2,1,1,4
RestaurantsReservations,NaN,False,True
RestaurantsTableService,NaN,NaN,True
RestaurantsTakeOut,NaN,True,False
Smoking,NaN,NaN,u'no'
WheelchairAccessible,NaN,NaN,NaN
WiFi,NaN,u'no',u'no'
casual,NaN,True,False
classy,NaN,False,False
divey,NaN,False,False
hipster,NaN,False,False
intimate,NaN,False,False
romantic,NaN,False,False
touristy,NaN,False,False
trendy,NaN,False,False
upscale,NaN,False,True
breakfast,NaN,NaN,False
brunch,NaN,NaN,False
dessert,NaN,NaN,False
dinner,NaN,NaN,True
latenight,NaN,NaN,False
lunch,NaN,NaN,False

#### 1.2 Business Data Summary & Study Area Selection

In [82]:
bus_data[['state','city','business_id']].groupby('state').count()

       city  business_id
state
AB     1017         1017
AZ     7347         7347
CA        2            2
FL        1            1
IL      254          254
NC     1834         1834
NM        1            1
NV     4747         4747
NY        3            3
OH     1988         1988
ON     4288         4288
PA     1482         1482
QC     1194         1194
SC      137          137
TX        1            1
UT        1            1
WI      703          703

In [83]:
bus_data.filter(items=['state','city','business_id']).groupby(['state','city']).count()

                         business_id
state city
AB    Airdrie                     17
      Alberta                      1
      Balzac                       1
      Calgary                    980
      Chestermere                  7
      Edgemont                     1
      Edmonton                     1
      Evergreen                    1
      Northwest Calgary            1
      Rocky View                   4
      Rocky View County            2
      Rockyview                    1
AZ    Ahwatukee                    2
      Anthem                       6
      Apache Junction              4
      Arizona                      1
      Avondale                    94
      Buckeye                      8
      Carefree                     9
      Cave Creek                  47
      Chandler                   567
      El Mirage                    9
      Fort McDowell                1
      Fort Mcdowell                1
      Fountain Hills              40
      Gilbert                    430
      Glendale                   495
      Glendale Az                  1
      Goodyear                   110
      Guadalupe                    1
...                              ...
SC    Fort Mill                   78
      Indian Land                 12
      Lake Wylie                   3
      Rock Hill                   39
      Rock Hill SC                 1
      Tega Cay                     2
TX    Phoenix                      1
UT    Draper                       1
WI    Belleville                   5
      Cottage Grove                5
      Cross Plains                 3
      De Forest                    2
      DeForest                     2
      Deerfield                    1
      Deforest                     1
      Fitchburg                   30
      Madison                    477
      Mc Farland                   5
      McFarland                    4
      Middleton                   42
      Monona                      19
      Mount Horeb                  6
      Oregon                       8
      Paoli                        1
      Sauk City                    1
      Stoughton                   19
      Sun Prairie                 34
      Verona                      22
      Waunakee                    14
      Windsor                      2

[545 rows x 1 columns]

In [84]:
#check the top counts by City and region
bus_data[['state','city','business_id']][bus_data["state"]=='OH'].groupby(['state','city']).count()

                            business_id
state city
OH    Akron                          66
      Amherst                        13
      Aurora                         19
      Avon                           26
      Avon Lake                      15
      Bainbridge                      1
      Barberton                       1
      Bay Village                     7
      Beachwood                      39
      Bedford                        15
      Bedford Heights                 2
      Bedford Hts                     1
      Bedford Hts.                    1
      Berea                          13
      Boston Heights                  1
      Bratenahl                       2
      Brecksville                    13
      Broadview Heights              15
      Brook Park                     10
      Brooklyn                        8
      Brookpark                       1
      Brunswick                      25
      Burton                          6
      Chagrin Falls                  23
      Chardon                        10
      Chesterland                    10
      Cleveland                     473
      Cleveland Height                1
      Cleveland Heights              23
      Cleveland Hghts.                1
...                                 ...
      Richmond Heights                4
      Rocky River                    38
      Sagamore Hills                  3
      Seven Hills                     5
      Shaker Heights                  5
      Shaker Hts                      1
      Sheffield Lake                  2
      Sheffield Village               3
      Solon                          29
      South Euclid                   10
      Stow                           28
      Streetsboro                    24
      Strongsville                   65
      Tallmadge                       8
      Tremont                         1
      Twinsburg                      10
      University Heights              7
      Valley View                     1
      Wadsworth                       5
      Warrensville Heights            7
      Warrensville Hts                1
      Wellington                      1
      West Lake                       1
      Westlake                       58
      Wickliffe                       5
      Willoughby                     43
      Willoughby Hills                2
      Willowick                      12
      Woodmere                        8
      kirtland                        1

[126 rows x 1 columns]

In [85]:
#check the top counts by City and region for Arizona
bus_data[['state','city','business_id']][bus_data["state"]=='AZ'].groupby(['state','city']).count()

                           business_id
state city
AZ    Ahwatukee                      2
      Anthem                         6
      Apache Junction                4
      Arizona                        1
      Avondale                      94
      Buckeye                        8
      Carefree                       9
      Cave Creek                    47
      Chandler                     567
      El Mirage                      9
      Fort McDowell                  1
      Fort Mcdowell                  1
      Fountain Hills                40
      Gilbert                      430
      Glendale                     495
      Glendale Az                    1
      Goodyear                     110
      Guadalupe                      1
      Higley                         6
      Laveen                        15
      Laveen Village                 1
      Litchfield                     1
      Litchfield Park               26
      Litchfield park                1
      Mesa                         763
      Old Town Scottsdale            1
      PHOENIX                        3
      Paradise Valley               18
      Pasadena                       1
      Peoria                       231
      Phoenix                     2461
      Phoenix                        1
      Phoenix,                       1
      Queen Creek                   14
      Rio Verde                      1
      SCOTTSDALE                     1
      SURPRISE                       1
      Scottsdale                  1166
      Somerton                       1
      Sun City                      32
      Sun City West                 13
      Sun Lakes                      3
      Surprise                     135
      Tempe                        587
      Tolleson                      23
      Valleywide                     1
      Waddell                        2
      Youngtown                      8
      glendale                       1
      phoenix                        1
      ​Chandler                      1

Based on inspection the all the cities in Arizona are part of the larger Phoenix metro area - including cities such as Mesa, Goodyear, Tempe, Scottsdale and others. 
After reviewing the counts, it seems that the larger Phoenix area would have a large enough dataset to be interesting.

In [228]:
#subset the data for the greater Phoenix area
az_data=bus_data[bus_data["state"]=='AZ']

In [229]:
az_data.shape

(4402, 90)

In [230]:
#create a copy of the index to have an explicit column for the index
az_data.index.name='index'

In [231]:
index=az_data.index

In [232]:
az_data.loc[:,'index']=index

In [233]:
#drop columns that are not needed
az_data.drop(['ctg7','ctg8','attributes','categories',8,9,10,11,12,13,14,15],axis=1,inplace=True)

In [234]:
az_data.shape

(4402, 79)

#### 1.3 Selection of Businesses related to the Food Industry
The yelp data contains categories of businesses. Varying degrees of detail are provided and the categories are not consistent throughout. For example, category 1 is typically the more detailed, "Burgers" with category 2, listed as "Restuarants". However, this not always the case and there some cases where category 1 is Resturants and category 2 is "Restuarants". Below we check and confirm these

In [235]:
# filter out the categories and pick only restaurants
# since there are multiple categories, check and confirm that all
az_data[['name','address','city','ctg1','ctg2','ctg3','index']].set_index('ctg1').filter(like='Restaurants',axis=0).groupby('ctg2').count()

                          name  address  city  ctg3  index
ctg2
 Acai Bowls                  1        1     1     1      1
 Active Life                 1        1     1     1      1
 African                     1        1     1     0      1
 American (New)              9        9     9     5      9
 American (Traditional)     10       10    10     7     10
 Arts & Entertainment        2        2     2     2      2
 Bakeries                    1        1     1     1      1
 Barbeque                    7        7     7     2      7
 Bars                        7        7     7     7      7
 Beer                        2        2     2     2      2
 Breakfast & Brunch          7        7     7     6      7
 Bubble Tea                  1        1     1     1      1
 Buffets                     3        3     3     2      3
 Burgers                    11       11    11     7     11
 Cafes                       2        2     2     1      2
 Casinos                     1        1     1     1      1
 Chicken Wings               1        1     1     1      1
 Chinese                    10       10    10     6     10
 Coffee & Tea                3        3     3     3      3
 Coffee Roasteries           1        1     1     1      1
 Comfort Food                1        1     1     1      1
 Delis                       2        2     2     1      2
 Diners                      1        1     1     1      1
 Donuts                      1        1     1     1      1
 Fast Food                  15       15    15    14     15
 Fish & Chips                2        2     2     1      2
 Fitness & Instruction       1        1     1     1      1
 Food                       15       15    15    15     15
 Food Stands                 1        1     1     1      1
 Gluten-Free                 1        1     1     1      1
...                        ...      ...   ...   ...    ...
 Hot Dogs                    2        2     2     2      2
 Indian                      2        2     2     1      2
 Italian                     5        5     5     4      5
 Japanese                    9        9     9     2      9
 Juice Bars & Smoothies      1        1     1     1      1
 Kebab                       1        1     1     1      1
 Korean                      1        1     1     0      1
 Latin American              2        2     2     1      2
 Mediterranean               2        2     2     2      2
 Mexican                    33       33    33    10     33
 Middle Eastern              1        1     1     0      1
 Nightlife                   3        3     3     3      3
 Noodles                     1        1     1     0      1
 Pizza                      14       14    14     5     14
 Puerto Rican                1        1     1     1      1
 Religious Organizations     1        1     1     1      1
 Salad                       2        2     2     2      2
 Sandwiches                 12       12    12     7     12
 Seafood                     4        4     4     2      4
 Soul Food                   1        1     1     1      1
 Spanish                     1        1     1     0      1
 Sports Bars                 2        2     2     2      2
 Steakhouses                 1        1     1     1      1
 Sushi Bars                  2        2     2     1      2
 Szechuan                    1        1     1     1      1
 Tacos                       1        1     1     1      1
 Tex-Mex                     3        3     3     1      3
 Vegan                       1        1     1     0      1
 Vegetarian                  1        1     1     1      1
 Vietnamese                  4        4     4     1      4

[65 rows x 5 columns]

In [237]:
az_data[['name','address','city','ctg1','ctg2','ctg3','index']].set_index('ctg2').filter(like='Restaurants',axis=0).groupby('ctg1').count()

                           name  address  city  ctg3  index
ctg1
American (New)               11       11    11     6     11
American (Traditional)        9        9     9     4      9
Asian Fusion                  3        3     3     3      3
Bagels                        2        2     2     2      2
Barbeque                      2        2     2     1      2
Bars                          2        2     2     2      2
Basque                        1        1     1     1      1
Breakfast & Brunch            6        6     6     4      6
Buffets                       2        2     2     0      2
Burgers                      10       10    10     7     10
Cafes                         3        3     3     3      3
Cajun/Creole                  1        1     1     0      1
Chicken Wings                 5        5     5     3      5
Chinese                      14       14    14     1     14
Coffee & Tea                  3        3     3     3      3
Conveyor Belt Sushi           1        1     1     1      1
Cuban                         1        1     1     1      1
Delis                         5        5     5     3      5
Diners                        1        1     1     1      1
Event Planning & Services     1        1     1     1      1
Fast Food                    15       15    15    13     15
Filipino                      1        1     1     1      1
Food                         21       21    21    21     21
Food Stands                   1        1     1     0      1
Gastropubs                    1        1     1     1      1
Gluten-Free                   3        3     3     3      3
Greek                         1        1     1     0      1
Grocery                       1        1     1     1      1
Hotels                        1        1     1     1      1
Ice Cream & Frozen Yogurt     1        1     1     1      1
Indian                        2        2     2     1      2
Italian                       3        3     3     2      3
Japanese                      7        7     7     5      7
Jazz & Blues                  1        1     1     1      1
Korean                        1        1     1     1      1
Kosher                        1        1     1     0      1
Mediterranean                 5        5     5     4      5
Mexican                      31       31    31     7     31
Middle Eastern                2        2     2     2      2
New Mexican Cuisine           2        2     2     2      2
Nightlife                     2        2     2     2      2
Pakistani                     1        1     1     1      1
Peruvian                      1        1     1     1      1
Pizza                        13       13    13     1     13
Real Estate                   1        1     1     1      1
Salad                         3        3     3     3      3
Sandwiches                   11       11    11    10     11
Seafood                       8        8     8     6      8
Soul Food                     1        1     1     1      1
Soup                          1        1     1     1      1
Specialty Food                1        1     1     1      1
Sports Bars                   3        3     3     3      3
Steakhouses                   5        5     5     1      5
Sushi Bars                    1        1     1     1      1
Thai                          3        3     3     1      3
Turkish                       1        1     1     0      1
Vegetarian                    1        1     1     1      1
Vietnamese                    4        4     4     1      4

In [238]:
az_data[['name','address','city','ctg1','ctg2','ctg3','index']].set_index('ctg3').filter(like='Restaurants',axis=0).groupby('ctg2').count()

                            name  address  city  ctg1  index
ctg2
 American (New)                7        7     7     7      7
 American (Traditional)        4        4     4     4      4
 Arts & Crafts                 1        1     1     1      1
 Arts & Entertainment          1        1     1     1      1
 Bakeries                      1        1     1     1      1
 Barbeque                      2        2     2     2      2
 Bars                          3        3     3     3      3
 Breakfast & Brunch            6        6     6     6      6
 Buffets                       1        1     1     1      1
 Burgers                      11       11    11    11     11
 Cafes                         1        1     1     1      1
 Candy Stores                  1        1     1     1      1
 Chicken Wings                 3        3     3     3      3
 Chinese                       2        2     2     2      2
 Cocktail Bars                 2        2     2     2      2
 Coffee & Tea                  2        2     2     2      2
 Comfort Food                  2        2     2     2      2
 Delis                         3        3     3     3      3
 Desserts                      2        2     2     2      2
 Diners                        4        4     4     4      4
 Donuts                        1        1     1     1      1
 Event Planning & Services     1        1     1     1      1
 Fast Food                    12       12    12    12     12
 Food                         12       12    12    12     12
 Food Delivery Services        2        2     2     2      2
 French                        1        1     1     1      1
 Gastropubs                    1        1     1     1      1
 Gluten-Free                   1        1     1     1      1
 Greek                         2        2     2     2      2
 Grocery                       1        1     1     1      1
 Hawaiian                      1        1     1     1      1
 Indian                        1        1     1     1      1
 Irish                         1        1     1     1      1
 Italian                       7        7     7     7      7
 Japanese                      4        4     4     4      4
 Latin American                1        1     1     1      1
 Local Flavor                  1        1     1     1      1
 Mexican                       5        5     5     5      5
 Nightlife                     7        7     7     7      7
 Pasta Shops                   1        1     1     1      1
 Pizza                         4        4     4     4      4
 Professional Services         1        1     1     1      1
 Salad                         1        1     1     1      1
 Sandwiches                    9        9     9     9      9
 Seafood                       2        2     2     2      2
 Soup                          3        3     3     3      3
 Sports Bars                   2        2     2     2      2
 Street Vendors                1        1     1     1      1
 Sushi Bars                    2        2     2     2      2
 Tex-Mex                       2        2     2     2      2
 Thai                          3        3     3     3      3
 Vegan                         1        1     1     1      1

In [180]:
az_data[['name','address','city','ctg1','index','ctg2','ctg3']].set_index('ctg1').filter(like='Restaurants',axis=0).count()

,name,address,city,count,ctg2,ctg3
ctg1,,,,,,
Restaurants,Taco Bell,2450 E Indian School Rd,Phoenix,11,Breakfast & Brunch,Mexican
Restaurants,Vals Getaway DES Cafeteria,1789 W Jefferson,Phoenix,133,Food,Cafes
Restaurants,New Mexican Grill,"3140 S Gilbert Rd, Ste 3",Chandler,146,Mexican,None
Restaurants,Sushi Mocorito,"3415 West Glendale Ave, Bldg 25A",Phoenix,181,Mexican,Sushi Bars
Restaurants,Oregano's Pizza Bistro,1008 E Camelback Rd,Phoenix,273,Pizza,Sandwiches

In [181]:
az_data[['name','address','city','ctg1','index','ctg2','ctg3']].set_index('ctg3').filter(like='Restaurants',axis=0).count()

,name,address,city,ctg1,count,ctg2
ctg3,,,,,,
Restaurants,Nishikawa Ramen,1909 E Ray Rd,Chandler,Asian Fusion,346,Japanese
Restaurants,Panera Bread,88 E Ocotillo Rd,Chandler,Food,381,Sandwiches
Restaurants,Arbys Restaurant Higley Rd,1927 N Higley Rd,Mesa,Sandwiches,415,Fast Food
Restaurants,Subway,15508 W Bell Rd,Surprise,Sandwiches,544,Fast Food
Restaurants,Eggstasy,6990 E Shea Blvd,Scottsdale,Diners,593,Breakfast & Brunch

In [ ]:
az_data[['name','address','city','ctg1','index','ctg2','ctg3']].set_index('ctg2').filter(like='Restaurants',axis=0).count()

In [152]:
az_data.index.name

'count'

In [59]:
import numpy as np
df_d = pd.DataFrame(np.arange(12).reshape(3,4),columns=['A', 'B', 'C', 'D'])

In [60]:
df_d

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [62]:
df_d['A'][df.loc[:,'A']==4]=400

In [63]:
df_d

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [66]:
df_d=df_d.append(pd.Series(),ignore_index=True)

In [67]:
df_d

     A    B     C     D
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
3  NaN  NaN   NaN   NaN

### References:
1. https://stackoverflow.com/questions/35588515/json-opening-yelp-data-challenges-data-set
2. https://stackoverflow.com/questions/43624065/yelp-data-file-type
3. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html#pandas.io.json.json_normalize
4. https://stackoverflow.com/questions/988228/convert-a-string-representation-of-a-dictionary-to-a-dictionary
5. https://github.com/kylegilde/NLP-and-Text-Mining-in-Python/tree/master/Classifying-Yelp-Reviews
6. https://github.com/nobieyi00/CUNY-SPS-DATA620/blob/master/FINAL_PROJECT/Data620_final_proj.ipynb
7. https://github.com/raghu74us/DATA-620/blob/master/FinalProject/DATA%20620%20Final%20Project.ipynb
8. https://github.com/jonathan1987/DATA620/blob/master/FinalProject/Final_project_notebook.ipynb
9. https://www.datacamp.com/community/tutorials/text-analytics-beginners-nltk