# Analysis of the Yelp Dataset
## Final Project for Data 620

In [2]:
import nltk
import matplotlib as plt
import matplotlib.pyplot as py
% matplotlib inline

In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import io
import json
import seaborn as sns

In [4]:
from numpy import nan

In [5]:
path="C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset"

### Business Attributes

#### 1. Data Cleaning

In [6]:
bus_loc=path+"/business.json"

In [7]:
bus_loc

'C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset/business.json'

In [8]:
with open(bus_loc, 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

In [9]:
data_json_str = "[" + ','.join(data) + "]"

# now, load it into pandas
data_df = pd.read_json(data_json_str)

In [76]:
bus_data=data_df.head(n=15000)

In [77]:
bus_data.tail(n=5)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
14995,4111 Boulder Hwy,"{u'GoodForMeal': u'{'dessert': True, 'latenigh...",zTkMh_RUVZW-J3lh7-l09Q,"Mexican, Seafood, Steakhouses, Restaurants, Am...",Las Vegas,"{u'Sunday': u'17:0-21:0', u'Friday': u'17:0-22...",1,36.133221,-115.084848,Boulder Station Pasta Cucina,89121,35,3.5,NV
14996,7399 State Rd,{u'BusinessAcceptsCreditCards': u'True'},iMYZhFFo1RLPGmaZ4O6tmg,"Dry Cleaning, Dry Cleaning & Laundry, Laundry ...",Cleveland,"{u'Monday': u'7:0-19:0', u'Tuesday': u'7:0-19:...",1,41.364137,-81.715814,On The Spot Dry Cleaners,44134,4,3.5,OH
14997,2601 Brownsville Rd,None,86PQRj-tc8vLsWwQzHx_mg,"Pet Groomers, Pet Services, Pets",Pittsburgh,"{u'Tuesday': u'9:0-17:0', u'Friday': u'9:0-17:...",1,40.385747,-79.978563,Petsburgh Grooming,15227,6,4.5,PA
14998,"6749 W Bethany Home Rd, Ste 105","{u'RestaurantsPriceRange2': u'2', u'BusinessPa...",DVefWmzjhGxx-ru3lFq2vQ,"Barbers, Beauty & Spas",Glendale,None,1,33.523454,-112.204824,Brians Barber Shop,85303,3,3.5,AZ
14999,2070B Rue Crescent,"{u'RestaurantsPriceRange2': u'2', u'ByAppointm...",uARKjzqs1Vg9H21bRQNGJA,"Beauty & Spas, Nail Salons",Montréal,None,0,45.499369,-73.577085,Rouge Nail Bar,H3G 2B8,8,3.0,QC

In [78]:
cats=bus_data['categories'].str.split(',',expand=True)

In [79]:
cats=cats.rename(columns={0:'ctg1',1:'ctg2',2:'ctg3',3:'ctg4',4:'ctg5',5:'ctg6',6:'ctg7',7:'ctg8'})

In [80]:
bus_data=bus_data.merge(cats,left_index=True,right_index=True)

In [81]:
bus_att=bus_data['attributes'].tolist()

In [82]:
att_detail=pd.DataFrame()
count=[]

In [83]:
for i in range(len(bus_att)):
    count.append(i)
    if bus_att[i] is None: 
        att_detail=att_detail.append(pd.Series(),ignore_index=True)
    else:
        att_detail=att_detail.append(json_normalize(bus_att[i]),sort='True')

In [84]:
att_detail.tail(n=5)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
14995,NaN,NaN,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,True,...,u'casual',False,True,2,True,NaN,True,NaN,NaN,u'no'
14996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
att_detail['count']=count

In [86]:
att_detail=att_detail.set_index('count')

In [87]:
amb_det=pd.DataFrame()
meal_det=pd.DataFrame()
amb_count=[]
meal_count=[]

In [88]:
# extract detailed data for 'ambience' and 'Good for meal'
for i in range(len(att_detail)):
    amb_count.append(i)
    if pd.isna(att_detail['Ambience'][i]) or (att_detail['Ambience'][i]=='None'): 
        amb_det=amb_det.append(pd.Series(),ignore_index=True)
    else:
        d = att_detail['Ambience'][i]
        d = d.replace('True', "'True'")
        d = d.replace('False',"'False'")
        d = d.replace("'", "\"")
        d = json.loads(d)
        d=pd.DataFrame.from_dict(d,orient='index')
        d=d.transpose()
        amb_det=amb_det.append(d,sort='True')

In [89]:
amb_det.tail(n=5)

      casual classy  divey hipster intimate romantic touristy trendy upscale
14995   True  False  False   False    False    False    False  False   False
14996    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
14997    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
14998    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
14999    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN

In [90]:
# extract detailed data for 'ambience' and 'Good for meal'
for i in range(len(att_detail)):
    #print i
    meal_count.append(i)
    if pd.isna(att_detail['GoodForMeal'][i]) or (att_detail['GoodForMeal'][i]=='None'): 
        meal_det=meal_det.append(pd.Series(),ignore_index=True)
    else:
        d = att_detail['GoodForMeal'][i]
        d = d.replace('True', "'True'")
        d = d.replace('False',"'False'")
        d = d.replace("'", "\"")
        d = json.loads(d)
        d=pd.DataFrame.from_dict(d,orient='index')
        d=d.transpose()
        meal_det=meal_det.append(d,sort='True')

In [91]:
meal_det.tail(n=10)

      breakfast brunch dessert dinner latenight  lunch
14990     False   True   False   True     False   True
14991       NaN    NaN     NaN    NaN       NaN    NaN
14992       NaN    NaN     NaN    NaN       NaN    NaN
14993       NaN    NaN     NaN    NaN       NaN    NaN
14994       NaN    NaN     NaN    NaN       NaN    NaN
14995     False  False    True   True     False  False
14996       NaN    NaN     NaN    NaN       NaN    NaN
14997       NaN    NaN     NaN    NaN       NaN    NaN
14998       NaN    NaN     NaN    NaN       NaN    NaN
14999       NaN    NaN     NaN    NaN       NaN    NaN

In [92]:
#pd.merge(meal_det,amb_det)
comb_det=amb_det.merge(meal_det,left_index=True,right_index=True)

In [93]:
att_detail=att_detail.merge(comb_det,left_index=True,right_index=True)

In [94]:
att_detail.tail(n=5).transpose()

count,14995,14996,14997,14998,14999
AcceptsInsurance,NaN,NaN,NaN,NaN,NaN
AgesAllowed,NaN,NaN,NaN,NaN,NaN
Alcohol,u'beer_and_wine',NaN,NaN,NaN,NaN
Ambience,"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,NaN
BYOB,NaN,NaN,NaN,NaN,NaN
BYOBCorkage,NaN,NaN,NaN,NaN,NaN
BestNights,NaN,NaN,NaN,NaN,NaN
BikeParking,True,NaN,NaN,NaN,NaN
BusinessAcceptsBitcoin,NaN,NaN,NaN,NaN,NaN
BusinessAcceptsCreditCards,True,True,NaN,NaN,NaN
BusinessParking,"{'garage': True, 'street': False, 'validated':...",NaN,NaN,"{'garage': False, 'street': False, 'validated'...",NaN
ByAppointmentOnly,NaN,NaN,NaN,NaN,True
Caters,False,NaN,NaN,NaN,NaN
CoatCheck,NaN,NaN,NaN,NaN,NaN
Corkage,NaN,NaN,NaN,NaN,NaN
DietaryRestrictions,NaN,NaN,NaN,NaN,NaN
DogsAllowed,NaN,NaN,NaN,NaN,NaN
DriveThru,NaN,NaN,NaN,NaN,NaN
GoodForDancing,NaN,NaN,NaN,NaN,NaN
GoodForKids,True,NaN,NaN,NaN,NaN
GoodForMeal,"{'dessert': True, 'latenight': False, 'lunch':...",NaN,NaN,NaN,NaN
HairSpecializesIn,NaN,NaN,NaN,NaN,NaN
HappyHour,NaN,NaN,NaN,NaN,NaN
HasTV,False,NaN,NaN,NaN,NaN
Music,NaN,NaN,NaN,NaN,NaN
NoiseLevel,u'quiet',NaN,NaN,NaN,NaN
OutdoorSeating,False,NaN,NaN,NaN,NaN
RestaurantsAttire,u'casual',NaN,NaN,NaN,NaN
RestaurantsDelivery,False,NaN,NaN,NaN,NaN
RestaurantsGoodForGroups,True,NaN,NaN,NaN,NaN
RestaurantsPriceRange2,2,NaN,NaN,2,2
RestaurantsReservations,True,NaN,NaN,NaN,NaN
RestaurantsTableService,NaN,NaN,NaN,NaN,NaN
RestaurantsTakeOut,True,NaN,NaN,NaN,NaN
Smoking,NaN,NaN,NaN,NaN,NaN
WheelchairAccessible,NaN,NaN,NaN,NaN,NaN
WiFi,u'no',NaN,NaN,NaN,NaN
casual,True,NaN,NaN,NaN,NaN
classy,False,NaN,NaN,NaN,NaN
divey,False,NaN,NaN,NaN,NaN
hipster,False,NaN,NaN,NaN,NaN
intimate,False,NaN,NaN,NaN,NaN
romantic,False,NaN,NaN,NaN,NaN
touristy,False,NaN,NaN,NaN,NaN
trendy,False,NaN,NaN,NaN,NaN
upscale,False,NaN,NaN,NaN,NaN
breakfast,False,NaN,NaN,NaN,NaN
brunch,False,NaN,NaN,NaN,NaN
dessert,True,NaN,NaN,NaN,NaN
dinner,True,NaN,NaN,NaN,NaN
latenight,False,NaN,NaN,NaN,NaN
lunch,False,NaN,NaN,NaN,NaN

In [95]:
bus_data=bus_data.merge(att_detail,left_index=True,right_index=True)

In [96]:
bus_data.head(n=3).transpose()

,0,1,2
address,2818 E Camino Acequia Drive,30 Eglinton Avenue W,"10110 Johnston Rd, Ste 15"
attributes,{u'GoodForKids': u'False'},"{u'GoodForMeal': u'{'dessert': False, 'latenig...","{u'GoodForMeal': u'{'dessert': False, 'latenig..."
business_id,1SWheh84yJXfytovILXOAQ,QXAEGFB4oINsVuTFxEYKFQ,gnKjwL_1w79qoiV3IC_xQQ
categories,"Golf, Active Life","Specialty Food, Restaurants, Dim Sum, Imported...","Sushi Bars, Restaurants, Japanese"
city,Phoenix,Mississauga,Charlotte
hours,None,"{u'Monday': u'9:0-0:0', u'Tuesday': u'9:0-0:0'...","{u'Monday': u'17:30-21:30', u'Friday': u'17:30..."
is_open,0,1,1
latitude,33.5221,43.6055,35.0926
longitude,-112.018,-79.6523,-80.8591
name,Arizona Biltmore Golf Club,Emerald Chinese Restaurant,Musashi Japanese Restaurant
postal_code,85016,L5R 3E7,28210
review_count,5,128,170
stars,3,2.5,4
state,AZ,ON,NC
ctg1,Golf,Specialty Food,Sushi Bars
ctg2,Active Life,Restaurants,Restaurants
ctg3,None,Dim Sum,Japanese
ctg4,None,Imported Food,None
ctg5,None,Food,None
ctg6,None,Chinese,None
ctg7,None,Ethnic Food,None
ctg8,None,Seafood,None
8,None,None,None
9,None,None,None
10,None,None,None
11,None,None,None
12,None,None,None
13,None,None,None
14,None,None,None
15,None,None,None
...,...,...,...
HappyHour,NaN,NaN,NaN
HasTV,NaN,False,True
Music,NaN,NaN,NaN
NoiseLevel,NaN,u'loud',u'average'
OutdoorSeating,NaN,False,False
RestaurantsAttire,NaN,u'casual','casual'
RestaurantsDelivery,NaN,False,False
RestaurantsGoodForGroups,NaN,True,True
RestaurantsPriceRange2,NaN,2,2
RestaurantsReservations,NaN,True,True
RestaurantsTableService,NaN,True,True
RestaurantsTakeOut,NaN,True,True
Smoking,NaN,NaN,NaN
WheelchairAccessible,NaN,NaN,NaN
WiFi,NaN,u'no',u'no'
casual,NaN,True,True
classy,NaN,False,False
divey,NaN,False,False
hipster,NaN,False,False
intimate,NaN,False,False
romantic,NaN,False,False
touristy,NaN,False,False
trendy,NaN,False,False
upscale,NaN,False,False
breakfast,NaN,False,False
brunch,NaN,False,False
dessert,NaN,False,False
dinner,NaN,True,True
latenight,NaN,False,False
lunch,NaN,True,True

In [97]:
bus_data.groupby('state').count()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,romantic,touristy,trendy,upscale,breakfast,brunch,dessert,dinner,latenight,lunch
state,,,,,,,,,,,,,,,,,,,,,
AB,599,488,599,598,599,434,599,599,599,599,...,185,185,185,181,84,84,84,84,84,84
AZ,4402,3721,4402,4389,4402,3528,4402,4402,4402,4402,...,683,683,683,680,457,457,457,457,457,457
IL,162,142,162,162,162,121,162,162,162,162,...,29,29,29,28,15,15,15,15,15,15
NC,1116,947,1116,1113,1116,847,1116,1116,1116,1116,...,282,282,282,282,194,194,194,194,194,194
NV,2862,2443,2862,2853,2862,2177,2862,2862,2862,2862,...,547,547,547,545,352,352,352,352,352,352
NY,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,1,1,1,1
OH,1199,1023,1199,1195,1199,902,1199,1199,1199,1199,...,335,335,335,333,198,198,198,198,198,198
ON,2533,2136,2533,2525,2533,1868,2533,2533,2533,2533,...,842,842,842,838,506,506,506,506,506,506
PA,902,776,902,901,902,671,902,902,902,902,...,231,231,231,228,133,133,133,133,133,133
QC,724,664,724,723,724,504,724,724,724,724,...,301,301,301,301,179,179,179,179,179,179
SC,91,77,91,91,91,74,91,91,91,91,...,22,22,22,22,20,20,20,20,20,20
TX,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
WI,407,350,407,406,407,322,407,407,407,407,...,100,100,100,100,68,68,68,68,68,68

In [98]:
bus_data.filter(items=['state','city','business_id']).groupby(['state','city']).count()

                         business_id
state city
AB    Airdrie                     10
      Alberta                      1
      Calgary                    576
      Chestermere                  5
      Edgemont                     1
      Evergreen                    1
      Northwest Calgary            1
      Rocky View                   2
      Rocky View County            1
      Rockyview                    1
AZ    Anthem                       2
      Apache Junction              3
      Arizona                      1
      Avondale                    50
      Buckeye                      5
      Carefree                     5
      Cave Creek                  33
      Chandler                   340
      El Mirage                    7
      Fort McDowell                1
      Fort Mcdowell                1
      Fountain Hills              25
      Gilbert                    259
      Glendale                   290
      Goodyear                    67
      Guadalupe                    1
      Higley                       4
      Laveen                       7
      Laveen Village               1
      Litchfield                   1
...                              ...
QC    Vaudreuil                    1
      Vaudreuil-Dorion             3
      Verdun                       8
      Westmount                   11
SC    Clover                       1
      Fort Mill                   52
      Indian Land                 10
      Lake Wylie                   2
      Rock Hill                   26
TX    Phoenix                      1
WI    Belleville                   4
      Cottage Grove                1
      Cross Plains                 2
      De Forest                    1
      DeForest                     1
      Deerfield                    1
      Fitchburg                   18
      Madison                    277
      Mc Farland                   4
      McFarland                    1
      Middleton                   21
      Monona                      13
      Mount Horeb                  4
      Oregon                       5
      Sauk City                    1
      Stoughton                   11
      Sun Prairie                 20
      Verona                      11
      Waunakee                     9
      Windsor                      2

[450 rows x 1 columns]

In [109]:
#check the top counts by City and region
bus_data[['state','city','business_id']][bus_data["state"]=='OH'].groupby(['state','city']).count()

                            business_id
state city
OH    Akron                          41
      Amherst                         7
      Aurora                         10
      Avon                           18
      Avon Lake                       9
      Bainbridge                      1
      Barberton                       1
      Bay Village                     3
      Beachwood                      23
      Bedford                        11
      Bedford Heights                 1
      Berea                           8
      Boston Heights                  1
      Bratenahl                       1
      Brecksville                     5
      Broadview Heights              10
      Brook Park                      4
      Brooklyn                        6
      Brookpark                       1
      Brunswick                      14
      Burton                          4
      Chagrin Falls                  13
      Chardon                         7
      Chesterland                     7
      Cleveland                     283
      Cleveland Heights              15
      Columbia Station                2
      Concord                         2
      Cuyahoga Falls                 30
      East Cleveland                  1
...                                 ...
      Parma                          20
      Parma Heights                   3
      Peninsula                       2
      Pepper Pike                     2
      Richmond Heights                2
      Rocky River                    22
      Sagamore Hills                  2
      Seven Hills                     1
      Shaker Heights                  5
      Shaker Hts                      1
      Sheffield Village               2
      Solon                          18
      South Euclid                    5
      Stow                           20
      Streetsboro                    14
      Strongsville                   43
      Tallmadge                       3
      Twinsburg                      10
      University Heights              4
      Valley View                     1
      Wadsworth                       2
      Warrensville Heights            5
      Warrensville Hts                1
      West Lake                       1
      Westlake                       37
      Wickliffe                       3
      Willoughby                     23
      Willoughby Hills                2
      Willowick                       5
      Woodmere                        4

[110 rows x 1 columns]

In [110]:
#check the top counts by City and region
bus_data[['state','city','business_id']][bus_data["state"]=='AZ'].groupby(['state','city']).count()

                           business_id
state city
AZ    Anthem                         2
      Apache Junction                3
      Arizona                        1
      Avondale                      50
      Buckeye                        5
      Carefree                       5
      Cave Creek                    33
      Chandler                     340
      El Mirage                      7
      Fort McDowell                  1
      Fort Mcdowell                  1
      Fountain Hills                25
      Gilbert                      259
      Glendale                     290
      Goodyear                      67
      Guadalupe                      1
      Higley                         4
      Laveen                         7
      Laveen Village                 1
      Litchfield                     1
      Litchfield Park               15
      Mesa                         449
      Old Town Scottsdale            1
      Paradise Valley               11
      Peoria                       143
      Phoenix                     1480
      Phoenix,                       1
      Queen Creek                    9
      Rio Verde                      1
      SURPRISE                       1
      Scottsdale                   703
      Somerton                       1
      Sun City                      13
      Sun City West                 10
      Sun Lakes                      1
      Surprise                      88
      Tempe                        348
      Tolleson                      17
      Valleywide                     1
      Youngtown                      4
      phoenix                        1
      ​Chandler                      1

In [207]:
#subset the data for the greater Phoenix area
az_data=bus_data[bus_data["state"]=='AZ']

In [208]:
az_data.shape

(4402, 90)

In [209]:
#create a copy of the index
az_data.index.name='index'

In [210]:
index=az_data.index

In [211]:
az_data.loc[:,'index']=index

In [219]:
az_data.drop(['ctg7','ctg8','attributes','categories',8,9,10,11,12,13,14,15,16],axis=1,inplace=True)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,touristy,trendy,upscale,breakfast,brunch,dessert,dinner,latenight,lunch,index
index,,,,,,,,,,,,,,,,,,,,,
0,2818 E Camino Acequia Drive,{u'GoodForKids': u'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
8,5940 W Union Hills Dr,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Y6iyemLX_oylRpnr38vgMA,"Nail Salons, Beauty & Spas, Day Spas",Glendale,"{u'Tuesday': u'12:0-18:0', u'Friday': u'10:0-1...",0,33.654815,-112.188568,Vita Bella Fine Day Spa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
11,2450 E Indian School Rd,"{u'BusinessParking': u'{'garage': False, 'stre...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{u'Monday': u'7:0-0:0', u'Tuesday': u'7:0-0:0'...",1,33.495194,-112.028588,Taco Bell,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,11
16,"4848 E Cactus Rd, Ste 100","{u'BusinessAcceptsCreditCards': u'True', u'Res...",giC3pVVFxCRR89rApqklyw,"Hair Stylists, Beauty & Spas, Hair Salons, Men...",Scottsdale,"{u'Monday': u'0:0-0:0', u'Tuesday': u'9:0-19:0...",1,33.600071,-111.977371,Knot Salon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
31,"6875 N 21st Ave, Ste 118",None,mNBp4KI2goFJKDB9VLGP9w,"Automotive, Auto Repair",Phoenix,None,1,33.538024,-112.103201,JSE Automotive Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
36,15224 N 59th Ave,"{u'BusinessAcceptsCreditCards': u'False', u'Re...",0_ohldeFwysbglrTLSGM4Q,"Beauty & Spas, Barbers",Glendale,"{u'Tuesday': u'9:0-17:0', u'Friday': u'9:0-17:...",0,33.623871,-112.186448,The Lounge Barber Shop,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36
37,1318 S Vineyard,"{u'BusinessAcceptsCreditCards': u'True', u'ByA...",M9DM1ktbW-TB7nXu3Z4RDw,"Home Services, Real Estate, Apartments, Hotels...",Mesa,"{u'Friday': u'9:0-18:0', u'Tuesday': u'9:0-18:...",1,33.391003,-111.843620,Sonoma Village,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
39,"560 E Germann Rd, Ste 107",{u'BusinessAcceptsCreditCards': u'True'},hgPhZoB3zdiRdlT9FETskw,"Auto Glass Services, Auto Detailing, Automotiv...",Gilbert,"{u'Friday': u'7:0-18:0', u'Tuesday': u'7:0-18:...",1,33.278251,-111.777460,OzBraz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39
44,14202 N Scottsdale Rd,"{u'BusinessAcceptsCreditCards': u'True', u'ByA...",teknANRU8ZKnwdIHWYyd8Q,"Massage Therapy, Massage, Health & Medical, Be...",Scottsdale,"{u'Tuesday': u'10:0-18:0', u'Friday': u'10:0-1...",0,33.616838,-111.927310,Key To Healing Massage,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44
47,709 W Ray Rd,"{u'BusinessParking': u'{'garage': False, 'stre...",GWO87Y-IqL54_Ijx6hTYAQ,"Food, Desserts, Juice Bars & Smoothies, Ice Cr...",Gilbert,"{u'Monday': u'12:0-21:0', u'Tuesday': u'12:0-2...",0,33.320386,-111.804652,Bruster's Real Ice Cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47
49,"2220 W Southern Ave, Ste 102, Endodontic Speci...",{u'ByAppointmentOnly': u'True'},5ws3QWQXUhqTeLd7IZsDww,"Health & Medical, Endodontists, Dentists",Mesa,"{u'Friday': u'7:0-19:30', u'Tuesday': u'7:0-19...",1,33.393546,-111.878890,"Stephen L Walker, DDS, MS",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49
52,1306 W University Dr,"{u'CoatCheck': u'False', u'Alcohol': u'u'full_...",viivlh_KJkiDVxhIdZnV8Q,"Arts & Entertainment, Dance Clubs, Nightlife, ...",Mesa,None,1,33.422164,-111.859035,Club Red,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,52
53,"17025 N Scottsdale Rd, Ste 110","{u'BusinessParking': u'{'garage': False, 'stre...",q2KtxnPa6rPSpAlMbg9l8g,"Desserts, Food, Cupcakes, Bakeries",Scottsdale,"{u'Monday': u'9:0-18:0', u'Tuesday': u'9:0-18:...",1,33.640308,-111.924528,Nothing Bundt Cakes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53
54,3101 W Northern Ave,{u'BusinessAcceptsCreditCards': u'True'},c-BELKj0SvNhBesQMf-bKw,"Convenience Stores, Automotive, Food, Gas Stat...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,33.552850,-112.125975,Circle K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54
62,27998 N 99th Pl,"{u'GoodForKids': u'False', u'BikeParking': u'F...",xu29IdQ4J9o5bffgoONwSA,"Active Life, Golf",Scottsdale,None,1,33.737965,-111.865200,The Estancia Club,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62
65,"4830 N Litchfield Rd, Ste 105","{u'BusinessParking': u'{'garage': False, 'stre...",qac28VmbQ7OrTMk-RCl7Yg,"Beauty & Spas, Skin Care, Tanning Beds, Hair S...",Litchfield Park,"{u'Monday': u'9:0-20:0', u'Tuesday': u'9:0-20:...",0,33.506372,-112.358745,Salon Glow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65
68,20645 N 28th St,"{u'GoodForKids': u'True', u'GoodForMeal': u'{'...",Y0dRlYjRNWckjvTGd55hzg,"Caterers, Event Planning & Services",Phoenix,None,1,33.674570,-112.021834,M Catering by Michael's,...,NaN,NaN,NaN,False,False,False,False,False,False,68
72,233 E Camelback Rd,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",HYunM2pknhIh8lbiMa7THw,"Interior Design, Contractors, Hardware Stores,...",Phoenix,"{u'Monday': u'6:0-17:0', u'Tuesday': u'6:0-17:...",1,33.509011,-112.069667,Dunn-Edwards Paints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72
74,16515 S 40th St,{u'ByAppointmentOnly': u'True'},gS-IoDQSggdxPn2Sf1yfGQ,"General Dentistry, Health & Medical, Dentists",Phoenix,"{u'Tuesday': u'7:30-17:0', u'Friday': u'7:30-1...",1,33.297318,-111.996450,Desert Shores Dentistry,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74
76,6949 E 5th Ave,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",D6ffAaTr_m5lsKxHNp9fwg,"Eyebrow Services, Hair Salons, Day Spas, Nail ...",Scottsdale,"{u'Monday': u'12:0-17:0', u'Tuesday': u'8:0-19...",1,33.484210,-111.934231,Goveias Salon & Spa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76
78,"13843 N Tatum Blvd, Ste 15","{u'GoodForMeal': u'{'dessert': False, 'latenig...",44YFU284Z3KDEy25QyVoUw,"Chinese, Restaurants",Phoenix,"{u'Monday': u'11:0-21:0', u'Tuesday': u'11:0-2...",1,33.613020,-111.977036,Nee House Chinese Restaurant,...,False,False,False,False,False,False,True,False,True,78
85,"4434 E Brown Rd, Ste 104","{u'BusinessAcceptsCreditCards': u'True', u'ByA...",HHH_mrl-x694asUCs3SHeQ,"General Dentistry, Dentists, Oral Surgeons, Co...",Mesa,"{u'Friday': u'7:0-13:0', u'Tuesday': u'8:0-17:...",1,33.437778,-111.734964,Inspire! Dental,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85
90,"5700 W Olive Ave, Ste 104",{u'ByAppointmentOnly': u'True'},iA6IwYzo6qDmY7dZfXdzyg,"Health & Medical, Dentists, General Dentistry",Glendale,"{u'Tuesday': u'7:0-17:0', u'Thursday': u'8:0-1...",0,33.567806,-112.182662,"Wyatt Brad, DMD",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
91,"10155 E Via Linda, Ste H136","{u'BusinessAcceptsCreditCards': u'True', u'ByA...",CJ4hyISN5qHyqMGHcydZFg,"Medical Centers, Beauty & Spas, Naturopathic/H...",Scottsdale,"{u'Tuesday': u'9:0-17:0', u'Thursday': u'9:0-1...",1,33.574364,-111.862107,enVoqueMD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91
95,9155 N 3rd St,{u'ByAppointmentOnly': u'False'},BUdtUH9SkcitAf4JOOsa6A,"Hospitals, Doctors, Rehabilitation Center, Med...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,33.569484,-112.068829,North Mountain Medical & Rehabilitation Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95
106,5960 W Bell Rd,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",OOnIQMkjg1VpAcPRFLnM0g,"Shopping, Fashion, Home & Garden, Department S...",Glendale,"{u'Monday': u'10:0-21:0', u'Tuesday': u'10:0-2...",1,33.640390,-112.187987,Stein Mart,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106
110,"2050 S 16th St, Ste 105","{u'DogsAllowed': u'False', u'BusinessParking':...",KjicU7uxRt2KDEnO5cgxDQ,"Shopping, Floral Designers, Event Planning & S...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'6:0-20:0...",1,33.428259,-112.048848,Arizona Florist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110
114,"15454 N Frank Lloyd Wright Blvd, Ste A-2 Rm.18","{u'BusinessAcceptsCreditCards': u'True', u'Res...",80hHlCEz_1-vgAhmLvs3lQ,"Hair Stylists, Nail Technicians, Beauty & Spas...",Scottsdale,"{u'Monday': u'0:0-0:0', u'Tuesday': u'12:30-18...",1,33.626945,-111.888035,Hair & Nails by Anastasiya,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114
118,14435 N 73rd St,"{u'DogsAllowed': u'False', u'BusinessParking':...",Yd7H9VvU4Euyguxwyrlfkw,"Education, Paint & Sip, Arts & Crafts, Arts & ...",Scottsdale,None,1,33.614812,-111.923851,Stencil - A DIY Craft Studio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14866,"13246 N 113th Ave, Ste 1C",None,W3eGCKDEhfJKa_SNCPYLXg,"Pet Services, Pet Groomers, Pets",Youngtown,"{u'Monday': u'7:0-14:0', u'Tuesday': u'7:0-14:...",1,33.604875,-112.302170,Fozzie's Pet Spa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14866
14875,"590 N Alma School Rd, Ste 19",{u'BusinessAcceptsCreditCards': u'True'},PWOpZanH8AS9JwfMv5k9pQ,"Local Services, Furniture Repair, Furniture Re...",Chandler,"{u'Monday': u'9:0-17:0', u'Tuesday': u'9:0-17:...",1,33.311682,-111.859979,Customer's Own Fabric Upholsters,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14875
14876,2105 E Southern Ave,{u'BusinessAcceptsCreditCards': u'True'},hsZlOLbs5v8DzRquxbHaCg,"Preschools, Nanny Services, Specialty Schools,...",Mesa,"{u'Monday': u'0:0-0:0', u'Tuesday': u'6:0-19:0...",1,33.393119,-111.786197,Little Einstein Preschool,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14876
14879,8787 N Scottsdale Rd,"{u'BusinessParking': u'{'garage': False, 'stre...",5Hq5gPxm05J9V_EhhOf54Q,"Mexican, Restaurants",Paradise Valley,None,0,33.567150,-111.925924,Camarone's Cantina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14879
14881,15444 N Frank Lloyd Wright Blvd,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",jgTjppAwWr7rpd0FCquChQ,"Health Markets, Specialty Food, Grocery, Pharm...",Scottsdale,"{u'Monday': u'9:0-19:0', u'Tuesday': u'9:0-19:...",1,33.626600,-111.889000,CVS Pharmacy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14881
14882,"4444 W Northern Ave, Ste A-3, Friends & Family...",{u'ByAppointmentOnly': u'True'},1Np2xKwZ7shefFHCDEfioQ,"Periodontists, Oral Surgeons, Cosmetic Dentist...",Glendale,"{u'Friday': u'9:0-15:0', u'Tuesday': u'9:0-18:...",1,33.554070,-112.153710,"Brandon W Lee, DDS",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14882
14885,22350 N 20th Ave,"{u'BusinessAcceptsCreditCards': u'True', u'ByA...",M8AiHKYbEaI-_1kUvqDwIw,"Home Services, Garage Door Services, Door Sale...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,33.688852,-112.102035,Parker Garage Doors & More,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14885
14888,5555 N 7th Ave,None,w4R_k7EcFFCtBlGbR7R_MA,"Television Stations, Mass Media, Radio Stations",Phoenix,None,1,33.517885,-112.081637,KTVK 3TV Phoenix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14888
14889,35880 N Creek View Ln,{u'BusinessAcceptsCreditCards': u'True'},ddYc6vY_mWpZO6oHpcoeFg,"Heating & Air Conditioning/HVAC, Home Services",Cave Creek,"{u'Friday': u'9:0-17:0', u'Tuesday': u'9:0-17:...",1,33.811199,-111.976143,Desert Foothills Air Conditioning & Heating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14889
14890,8433 W Peoria Ave,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",STPpvTd7V6qioAONogTPRQ,"Restaurants, Puerto Rican, Spanish, Caribbean",Peoria,"{u'Sunday': u'11:0-19:0', u'Friday': u'11:0-16...",0,33.581094,-112.240456,El New Yorican Central Catering & Delivery,...,False,False,False,False,False,False,False,False,True,14890
14893,16220 N 7th St,None,SDdi31CBMCUXXv1BQjq53w,"Session Photography, Photographers, Event Phot...",Phoenix,None,1,33.634560,-112.065835,The Indigo Studio - Amanda Brooks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14893
14899,8700 E Main St,"{u'BusinessAcceptsCreditCards': u'True', u'Bus...",EoU6ltK5DpX31XeeNbGlzQ,"Glass & Mirrors, Windows Installation, Home Se...",Mesa,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,33.415947,-111.643263,Apache Glass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14899
14901,"3923 E Thunderbird Rd, Ste 102",None,yLzkPvXwwLNxlR95733xaw,"Beauty & Spas, Eyelash Service, Nail Salons",Phoenix,"{u'Monday': u'9:30-19:0', u'Tuesday': u'9:30-1...",1,33.610762,-111.996408,Amazing Nails and Lash,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14901
14902,6514 E Star Valley St,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",EO034DKWjQdISDTIcr3g_A,"Leather Goods, Fashion, Shopping",Mesa,None,1,33.482612,-111.690225,Custom Hide,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14902
14908,6039 W Bell Rd,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",thlAnPN1ApoNxSnok_fcvA,"Breakfast & Brunch, American (New), Diners, Re...",Glendale,"{u'Monday': u'6:0-20:0', u'Tuesday': u'6:0-22:...",1,33.638271,-112.190578,Black Bear Diner,...,False,False,False,True,True,False,True,False,True,14908
14910,2325 N 7th St,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",IsIKU8ndr3aU5sFTb4LuPA,"Cafes, Restaurants, Coffee & Tea, Food",Phoenix,"{u'Tuesday': u'7:30-15:0', u'Friday': u'7:30-1...",0,33.474170,-112.064805,Drip Coffee Lounge,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14910
14912,,"{u'BusinessAcceptsCreditCards': u'True', u'Bus...",An4cR5bvcDrnLaqhSUtA-A,"Irrigation, Landscaping, Landscape Architects,...",Chandler,"{u'Monday': u'6:0-18:0', u'Tuesday': u'6:0-18:...",1,33.326030,-111.874745,All Terrain Landscaping and Maintenance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14912
14914,1721 W Rose Garden Ln,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",w6frk94BwGwxenre_zeXUg,"Sports Bars, Restaurants, Chicken Wings, Bars,...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'11:0-23:...",1,33.675977,-112.096882,Caps Sports Grill,...,False,False,False,False,False,False,True,False,True,14914
14915,28509 North Verde River Way,"{u'BusinessParking': u'{'garage': False, 'stre...",Xkd6c-HogI3AEubOJoM7lw,"Day Spas, Beauty & Spas",Rio Verde,"{u'Sunday': u'9:0-17:0', u'Friday': u'10:0-18:...",1,33.747840,-111.702500,"Alvea Spa, Salon and Wellness at Verde River",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14915
14925,7301 E Indian Plz,"{u'Alcohol': u'u'full_bar'', u'HasTV': u'True'...",n5fp_q7OvqVCnV_IhAyaAQ,"Food, Nightlife, Breakfast & Brunch, Restauran...",Scottsdale,"{u'Friday': u'20:0-2:0', u'Wednesday': u'21:0-...",1,33.501245,-111.923352,Dakota,...,False,True,False,False,True,False,False,False,True,14925
14931,8572 W Ocotillo Rd,{u'BusinessAcceptsCreditCards': u'True'},x_Y3XsFuSHZITgW9aLm8HQ,"Local Services, Notaries",Glendale,"{u'Monday': u'7:0-20:0', u'Tuesday': u'7:0-20:...",1,33.533929,-112.245597,Mobile Notary Phoenix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14931
14933,1805 Sky Harbor Cir S,None,PycR_Mr5jA9jB4Xg3nX0Yw,"Hotels & Travel, Car Rental",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,33.441080,-112.025811,Payless Car Rental,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14933
14940,"4550 E Bell Rd, Bldg 8","{u'BusinessParking': u'{'garage': False, 'stre...",PuJicbFBW8VFAbXI1MS9Tw,"Massage Therapy, Traditional Chinese Medicine,...",Phoenix,"{u'Monday': u'9:0-18:0', u'Tuesday': u'9:0-18:...",1,33.641470,-111.983414,The Clinic of Quan Acupuncture & Pain Relief,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14940
14941,5000 S Arizona Mills Cir,"{u'HasTV': u'False', u'NoiseLevel': u'u'averag...",75ibA4xCKllkq97xsSe1Jw,"Restaurants, Japanese",Tempe,None,0,33.383147,-111.964725,Suki Hana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14941
14943,8510 N 7th St,"{u'RestaurantsTableService': u'False', u'GoodF...",oacm52KPpEpOBf_M2sARLA,"Restaurants, Chinese",Phoenix,"{u'Monday': u'14:0-2:0', u'Tuesday': u'17:0-2:...",0,33.560998,-112.065657,Lucky Wok,...,False,False,False,False,False,False,False,False,False,14943
14970,2069 S Delatorre Dr,None,3f2Hsa-HhDIHBbFgZn_nHA,"Middle Schools & High Schools, Education, Elem...",Higley,None,1,33.312250,-111.694119,Gateway Pointe Elementary School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14970
14984,"5158 W Olive Ave, Ste D-117",None,9TWQ9TDxC11oJat-W5AIhA,"Chinese, Restaurants",Glendale,"{u'Monday': u'0:0-0:0', u'Tuesday': u'11:0-21:...",1,33.567989,-112.170978,Szechuan Cuisine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14984
14985,49 W Thomas Rd,"{u'Alcohol': u'u'none'', u'HasTV': u'False', u...",Ag1S9ttGzV0oikz80pRPbA,"Gluten-Free, Restaurants, Seafood, Poke, Hawai...",Phoenix,"{u'Monday': u'0:0-0:0', u'Tuesday': u'10:30-20...",1,33.480032,-112.076564,Poké Catcher,...,False,True,False,False,False,False,True,False,True,14985
14991,"5753 E Brown Rd, Ste 101","{u'BusinessAcceptsCreditCards': u'True', u'ByA...",eMUvk1q9uk1Ni_RQdMtNIA,"Dentists, Health & Medical, Orthodontists",Mesa,"{u'Friday': u'8:0-12:0', u'Tuesday': u'7:0-17:...",1,33.437096,-111.706829,MacDonald Orthodontics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14991
14998,"6749 W Bethany Home Rd, Ste 105","{u'RestaurantsPriceRange2': u'2', u'BusinessPa...",DVefWmzjhGxx-ru3lFq2vQ,"Barbers, Beauty & Spas",Glendale,None,1,33.523454,-112.204824,Brians Barber Shop,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14998

In [188]:
az_data[['name','address','city','ctg1','ctg2','ctg3','index']].set_index('ctg1',drop=False).filter(like='Restaurants',axis=0).groupby('ctg2').count()

                          name  address  city  ctg1  ctg3
ctg2
 Acai Bowls                  1        1     1     1     1
 Active Life                 1        1     1     1     1
 African                     1        1     1     1     0
 American (New)              9        9     9     9     5
 American (Traditional)     10       10    10    10     7
 Arts & Entertainment        2        2     2     2     2
 Bakeries                    1        1     1     1     1
 Barbeque                    7        7     7     7     2
 Bars                        7        7     7     7     7
 Beer                        2        2     2     2     2
 Breakfast & Brunch          7        7     7     7     6
 Bubble Tea                  1        1     1     1     1
 Buffets                     3        3     3     3     2
 Burgers                    11       11    11    11     7
 Cafes                       2        2     2     2     1
 Casinos                     1        1     1     1     1
 Chicken Wings               1        1     1     1     1
 Chinese                    10       10    10    10     6
 Coffee & Tea                3        3     3     3     3
 Coffee Roasteries           1        1     1     1     1
 Comfort Food                1        1     1     1     1
 Delis                       2        2     2     2     1
 Diners                      1        1     1     1     1
 Donuts                      1        1     1     1     1
 Fast Food                  15       15    15    15    14
 Fish & Chips                2        2     2     2     1
 Fitness & Instruction       1        1     1     1     1
 Food                       15       15    15    15    15
 Food Stands                 1        1     1     1     1
 Gluten-Free                 1        1     1     1     1
...                        ...      ...   ...   ...   ...
 Hot Dogs                    2        2     2     2     2
 Indian                      2        2     2     2     1
 Italian                     5        5     5     5     4
 Japanese                    9        9     9     9     2
 Juice Bars & Smoothies      1        1     1     1     1
 Kebab                       1        1     1     1     1
 Korean                      1        1     1     1     0
 Latin American              2        2     2     2     1
 Mediterranean               2        2     2     2     2
 Mexican                    33       33    33    33    10
 Middle Eastern              1        1     1     1     0
 Nightlife                   3        3     3     3     3
 Noodles                     1        1     1     1     0
 Pizza                      14       14    14    14     5
 Puerto Rican                1        1     1     1     1
 Religious Organizations     1        1     1     1     1
 Salad                       2        2     2     2     2
 Sandwiches                 12       12    12    12     7
 Seafood                     4        4     4     4     2
 Soul Food                   1        1     1     1     1
 Spanish                     1        1     1     1     0
 Sports Bars                 2        2     2     2     2
 Steakhouses                 1        1     1     1     1
 Sushi Bars                  2        2     2     2     1
 Szechuan                    1        1     1     1     1
 Tacos                       1        1     1     1     1
 Tex-Mex                     3        3     3     3     1
 Vegan                       1        1     1     1     0
 Vegetarian                  1        1     1     1     1
 Vietnamese                  4        4     4     4     1

[65 rows x 5 columns]

In [189]:
az_data[['name','address','city','ctg1','ctg2','ctg3']].set_index('ctg2').filter(like='Restaurants',axis=0).groupby('ctg1').count()

                           name  address  city  ctg3
ctg1
American (New)               11       11    11     6
American (Traditional)        9        9     9     4
Asian Fusion                  3        3     3     3
Bagels                        2        2     2     2
Barbeque                      2        2     2     1
Bars                          2        2     2     2
Basque                        1        1     1     1
Breakfast & Brunch            6        6     6     4
Buffets                       2        2     2     0
Burgers                      10       10    10     7
Cafes                         3        3     3     3
Cajun/Creole                  1        1     1     0
Chicken Wings                 5        5     5     3
Chinese                      14       14    14     1
Coffee & Tea                  3        3     3     3
Conveyor Belt Sushi           1        1     1     1
Cuban                         1        1     1     1
Delis                         5        5     5     3
Diners                        1        1     1     1
Event Planning & Services     1        1     1     1
Fast Food                    15       15    15    13
Filipino                      1        1     1     1
Food                         21       21    21    21
Food Stands                   1        1     1     0
Gastropubs                    1        1     1     1
Gluten-Free                   3        3     3     3
Greek                         1        1     1     0
Grocery                       1        1     1     1
Hotels                        1        1     1     1
Ice Cream & Frozen Yogurt     1        1     1     1
Indian                        2        2     2     1
Italian                       3        3     3     2
Japanese                      7        7     7     5
Jazz & Blues                  1        1     1     1
Korean                        1        1     1     1
Kosher                        1        1     1     0
Mediterranean                 5        5     5     4
Mexican                      31       31    31     7
Middle Eastern                2        2     2     2
New Mexican Cuisine           2        2     2     2
Nightlife                     2        2     2     2
Pakistani                     1        1     1     1
Peruvian                      1        1     1     1
Pizza                        13       13    13     1
Real Estate                   1        1     1     1
Salad                         3        3     3     3
Sandwiches                   11       11    11    10
Seafood                       8        8     8     6
Soul Food                     1        1     1     1
Soup                          1        1     1     1
Specialty Food                1        1     1     1
Sports Bars                   3        3     3     3
Steakhouses                   5        5     5     1
Sushi Bars                    1        1     1     1
Thai                          3        3     3     1
Turkish                       1        1     1     0
Vegetarian                    1        1     1     1
Vietnamese                    4        4     4     1

In [190]:
az_data[['name','address','city','ctg1','index','ctg2','ctg3']].set_index('ctg2').filter(like='Restaurants',axis=0).head(n=5)

KeyError: "['index'] not in index"

In [180]:
az_data[['name','address','city','ctg1','count','ctg2','ctg3']].set_index('ctg1').filter(like='Restaurants',axis=0).head(n=5)

,name,address,city,count,ctg2,ctg3
ctg1,,,,,,
Restaurants,Taco Bell,2450 E Indian School Rd,Phoenix,11,Breakfast & Brunch,Mexican
Restaurants,Vals Getaway DES Cafeteria,1789 W Jefferson,Phoenix,133,Food,Cafes
Restaurants,New Mexican Grill,"3140 S Gilbert Rd, Ste 3",Chandler,146,Mexican,None
Restaurants,Sushi Mocorito,"3415 West Glendale Ave, Bldg 25A",Phoenix,181,Mexican,Sushi Bars
Restaurants,Oregano's Pizza Bistro,1008 E Camelback Rd,Phoenix,273,Pizza,Sandwiches

In [181]:
az_data[['name','address','city','ctg1','count','ctg2','ctg3']].set_index('ctg3').filter(like='Restaurants',axis=0).head(n=5)

,name,address,city,ctg1,count,ctg2
ctg3,,,,,,
Restaurants,Nishikawa Ramen,1909 E Ray Rd,Chandler,Asian Fusion,346,Japanese
Restaurants,Panera Bread,88 E Ocotillo Rd,Chandler,Food,381,Sandwiches
Restaurants,Arbys Restaurant Higley Rd,1927 N Higley Rd,Mesa,Sandwiches,415,Fast Food
Restaurants,Subway,15508 W Bell Rd,Surprise,Sandwiches,544,Fast Food
Restaurants,Eggstasy,6990 E Shea Blvd,Scottsdale,Diners,593,Breakfast & Brunch

In [152]:
az_data.index.name

'count'

### References:
1. https://stackoverflow.com/questions/35588515/json-opening-yelp-data-challenges-data-set
2. https://stackoverflow.com/questions/43624065/yelp-data-file-type
3. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html#pandas.io.json.json_normalize
4. https://stackoverflow.com/questions/988228/convert-a-string-representation-of-a-dictionary-to-a-dictionary
5. https://github.com/kylegilde/NLP-and-Text-Mining-in-Python/tree/master/Classifying-Yelp-Reviews
6. https://github.com/nobieyi00/CUNY-SPS-DATA620/blob/master/FINAL_PROJECT/Data620_final_proj.ipynb
7. https://github.com/raghu74us/DATA-620/blob/master/FinalProject/DATA%20620%20Final%20Project.ipynb
8. https://github.com/jonathan1987/DATA620/blob/master/FinalProject/Final_project_notebook.ipynb
9. https://www.datacamp.com/community/tutorials/text-analytics-beginners-nltk