# Analysis of the Yelp Dataset
## Final Project for Data 620

In [1]:
import nltk
import matplotlib as plt
import matplotlib.pyplot as py
% matplotlib inline

In [2]:
import pandas as pd

In [35]:
path="C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset"

In [36]:
bus_loc=path+"/business.json"

In [54]:
bus_loc

'C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset/business.json'

In [51]:
with open(bus_loc, 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

In [52]:
data_json_str = "[" + ','.join(data) + "]"

# now, load it into pandas
data_df = pd.read_json(data_json_str)

In [53]:
data_df.head(n=5)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{u'GoodForKids': u'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{u'Monday': u'9:0-0:0', u'Tuesday': u'9:0-0:0'...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{u'GoodForMeal': u'{'dessert': False, 'latenig...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{u'Monday': u'17:30-21:30', u'Friday': u'17:30...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{u'BusinessAcceptsCreditCards': u'True', u'Bus...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{u'Monday': u'7:0-23:0', u'Tuesday': u'7:0-23:...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

### References:
1. https://stackoverflow.com/questions/35588515/json-opening-yelp-data-challenges-data-set