# Analysis of the Yelp Dataset
## Final Project for Data 620

In [1]:
import nltk
import matplotlib as plt
import matplotlib.pyplot as py
% matplotlib inline

In [2]:
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
path="C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset"

In [4]:
bus_loc=path+"/business.json"

In [5]:
bus_loc

'C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset/business.json'

In [147]:
with open(bus_loc, 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

In [7]:
data_json_str = "[" + ','.join(data) + "]"

# now, load it into pandas
data_df = pd.read_json(data_json_str)

In [8]:
a=data_df.head(n=5)

In [9]:
a

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{u'GoodForKids': u'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{u'Monday': u'9:0-0:0', u'Tuesday': u'9:0-0:0'...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{u'GoodForMeal': u'{'dessert': False, 'latenig...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{u'Monday': u'17:30-21:30', u'Friday': u'17:30...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{u'BusinessAcceptsCreditCards': u'True', u'Bus...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{u'Monday': u'7:0-23:0', u'Tuesday': u'7:0-23:...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [10]:
a['categories'].str.split(',',expand=True)

,0,1,2,3,4,5,6,7
0,Golf,Active Life,None,None,None,None,None,None
1,Specialty Food,Restaurants,Dim Sum,Imported Food,Food,Chinese,Ethnic Food,Seafood
2,Sushi Bars,Restaurants,Japanese,None,None,None,None,None
3,Insurance,Financial Services,None,None,None,None,None,None
4,Plumbing,Shopping,Local Services,Home Services,Kitchen & Bath,Home & Garden,Water Heater Installation/Repair,None

In [17]:
b=a['attributes'].tolist()

In [28]:
b[1]

{u'Alcohol': u"u'full_bar'",
 u'Ambience': u"{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 u'BikeParking': u'False',
 u'BusinessParking': u"{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 u'Caters': u'True',
 u'GoodForKids': u'True',
 u'GoodForMeal': u"{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}",
 u'HasTV': u'False',
 u'NoiseLevel': u"u'loud'",
 u'OutdoorSeating': u'False',
 u'RestaurantsAttire': u"u'casual'",
 u'RestaurantsDelivery': u'False',
 u'RestaurantsGoodForGroups': u'True',
 u'RestaurantsPriceRange2': u'2',
 u'RestaurantsReservations': u'True',
 u'RestaurantsTableService': u'True',
 u'RestaurantsTakeOut': u'True',
 u'WiFi': u"u'no'"}

In [16]:
a['attributes'].str.split('{',expand=True)

    0
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN

In [31]:
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
...         {'name': {'given': 'Mose', 'family': 'Regner'}},
...         {'id': 2, 'name': 'Faye Raker'}]

In [32]:
json_normalize(data)

    id        name name.family name.first name.given name.last
0  1.0         NaN         NaN     Coleen        NaN      Volk
1  NaN         NaN      Regner        NaN       Mose       NaN
2  2.0  Faye Raker         NaN        NaN        NaN       NaN

In [88]:
c1=json_normalize(b[1])
c2=json_normalize(b[2])

In [50]:
c1.append(c2,sort='True')

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,GoodForKids,GoodForMeal,HasTV,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WiFi
0,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,"{'garage': False, 'street': False, 'validated'...",True,True,"{'dessert': False, 'latenight': False, 'lunch'...",False,u'loud',False,u'casual',False,True,2,True,True,True,u'no'
0,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'touris...",True,True,"{'garage': False, 'street': False, 'validated'...",False,True,"{'dessert': False, 'latenight': False, 'lunch'...",True,u'average',False,'casual',False,True,2,True,True,True,u'no'

In [114]:
for i in range(len(b)):
    print i
    if b[i] is None: 
        c2=c2.append(pd.Series(),ignore_index=True)
    else:
        c2=c2.append(json_normalize(b[i]),sort='True')

0
1
2
3
4

In [110]:
c1.append(json_normalize(b[2]),sort='True')

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,GoodForKids,GoodForMeal,HasTV,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WiFi
0,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,"{'garage': False, 'street': False, 'validated'...",True,True,"{'dessert': False, 'latenight': False, 'lunch'...",False,u'loud',False,u'casual',False,True,2,True,True,True,u'no'
0,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'touris...",True,True,"{'garage': False, 'street': False, 'validated'...",False,True,"{'dessert': False, 'latenight': False, 'lunch'...",True,u'average',False,'casual',False,True,2,True,True,True,u'no'

In [115]:
c2

,Alcohol,Ambience,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,BusinessParking,ByAppointmentOnly,Caters,GoodForKids,GoodForMeal,...,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WiFi
0,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",NaN,True,True,"{'dessert': False, 'latenight': False, 'lunch'...",...,u'loud',False,u'casual',False,True,2,True,True,True,u'no'
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,False,True,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",False,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",NaN,True,True,"{'dessert': False, 'latenight': False, 'lunch'...",...,u'loud',False,u'casual',False,True,2,True,True,True,u'no'
5,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'touris...",True,NaN,True,"{'garage': False, 'street': False, 'validated'...",NaN,False,True,"{'dessert': False, 'latenight': False, 'lunch'...",...,u'average',False,'casual',False,True,2,True,True,True,u'no'
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,False,True,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
len(b)

5

In [67]:
c=a['attributes']

In [70]:
x=c.get("Alcohol")

In [71]:
print(x)

None

In [75]:
c1['Ambience']

0    {'romantic': False, 'intimate': False, 'classy...
Name: Ambience, dtype: object

In [139]:
type(a['attributes'])

pandas.core.series.Series

In [82]:
c1.append(pd.Series(),ignore_index=True)

,Alcohol,Ambience,BikeParking,BusinessParking,Caters,GoodForKids,GoodForMeal,HasTV,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WiFi
0,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",False,"{'garage': False, 'street': False, 'validated'...",True,True,"{'dessert': False, 'latenight': False, 'lunch'...",False,u'loud',False,u'casual',False,True,2,True,True,True,u'no'
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
c2

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,GoodForKids,GoodForMeal,HasTV,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WiFi
0,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'touris...",True,True,"{'garage': False, 'street': False, 'validated'...",False,True,"{'dessert': False, 'latenight': False, 'lunch'...",True,u'average',False,'casual',False,True,2,True,True,True,u'no'

In [195]:
json_normalize('['+b[2]['Ambience']+']')

AttributeError: 'unicode' object has no attribute 'itervalues'

In [196]:
import io

In [273]:
d=b[2]['Ambience']

In [264]:
jsonDecode(d)

NameError: name 'jsonDecode' is not defined

In [233]:
d=d.encode('utf-8')

In [234]:
json_normalize(d.replace('False,', "False"))

AttributeError: 'str' object has no attribute 'itervalues'

In [214]:
import json

In [226]:
json_normalize(d)

AttributeError: 'unicode' object has no attribute 'itervalues'

In [274]:
#s = "{'muffin' : True, 'foo' : False}"
d = d.replace('True', "'True'")
d = d.replace('False',"'False'")
#s = "{'muffin' : 'lolz', 'foo' : 'kitty'}"
d2 = d.replace("'", "\"")
#d = json.loads(json_acceptable_string)

In [263]:
d = json.loads(d2)

ValueError: Expecting property name: line 1 column 2 (char 1)

In [266]:
d

{u'foo': u'False', u'muffin': u'True'}

In [270]:
#i=[1,2,3,4]
d=pd.DataFrame.from_dict(d,orient='index')

In [272]:
t.d

NameError: name 't' is not defined

### References:
1. https://stackoverflow.com/questions/35588515/json-opening-yelp-data-challenges-data-set
2. https://stackoverflow.com/questions/43624065/yelp-data-file-type
3. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html#pandas.io.json.json_normalize
4.