# Analysis of the Yelp Dataset
## Final Project for Data 620

In [2]:
import nltk
import matplotlib as plt
import matplotlib.pyplot as py
% matplotlib inline

In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import io
import json
import seaborn as sns

In [4]:
from numpy import nan

In [5]:
path="C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset"

In [6]:
bus_loc=path+"/business.json"

In [7]:
bus_loc

'C:/Users/talha/Documents/Training/CUNY Classes/IS620/Final_project/yelp_dataset/business.json'

In [8]:
with open(bus_loc, 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

In [9]:
data_json_str = "[" + ','.join(data) + "]"

# now, load it into pandas
data_df = pd.read_json(data_json_str)

In [76]:
bus_data=data_df.head(n=15000)

In [77]:
bus_data.tail(n=5)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
14995,4111 Boulder Hwy,"{u'GoodForMeal': u'{'dessert': True, 'latenigh...",zTkMh_RUVZW-J3lh7-l09Q,"Mexican, Seafood, Steakhouses, Restaurants, Am...",Las Vegas,"{u'Sunday': u'17:0-21:0', u'Friday': u'17:0-22...",1,36.133221,-115.084848,Boulder Station Pasta Cucina,89121,35,3.5,NV
14996,7399 State Rd,{u'BusinessAcceptsCreditCards': u'True'},iMYZhFFo1RLPGmaZ4O6tmg,"Dry Cleaning, Dry Cleaning & Laundry, Laundry ...",Cleveland,"{u'Monday': u'7:0-19:0', u'Tuesday': u'7:0-19:...",1,41.364137,-81.715814,On The Spot Dry Cleaners,44134,4,3.5,OH
14997,2601 Brownsville Rd,None,86PQRj-tc8vLsWwQzHx_mg,"Pet Groomers, Pet Services, Pets",Pittsburgh,"{u'Tuesday': u'9:0-17:0', u'Friday': u'9:0-17:...",1,40.385747,-79.978563,Petsburgh Grooming,15227,6,4.5,PA
14998,"6749 W Bethany Home Rd, Ste 105","{u'RestaurantsPriceRange2': u'2', u'BusinessPa...",DVefWmzjhGxx-ru3lFq2vQ,"Barbers, Beauty & Spas",Glendale,None,1,33.523454,-112.204824,Brians Barber Shop,85303,3,3.5,AZ
14999,2070B Rue Crescent,"{u'RestaurantsPriceRange2': u'2', u'ByAppointm...",uARKjzqs1Vg9H21bRQNGJA,"Beauty & Spas, Nail Salons",Montréal,None,0,45.499369,-73.577085,Rouge Nail Bar,H3G 2B8,8,3.0,QC

In [78]:
cats=bus_data['categories'].str.split(',',expand=True)

In [79]:
cats=cats.rename(columns={0:'ctg1',1:'ctg2',2:'ctg3',3:'ctg4',4:'ctg5',5:'ctg6',6:'ctg7',7:'ctg8'})

In [80]:
bus_data=bus_data.merge(cats,left_index=True,right_index=True)

In [81]:
bus_att=bus_data['attributes'].tolist()

In [82]:
att_detail=pd.DataFrame()
count=[]

In [83]:
for i in range(len(bus_att)):
    count.append(i)
    if bus_att[i] is None: 
        att_detail=att_detail.append(pd.Series(),ignore_index=True)
    else:
        att_detail=att_detail.append(json_normalize(bus_att[i]),sort='True')

In [84]:
att_detail.tail(n=5)

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
14995,NaN,NaN,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,True,...,u'casual',False,True,2,True,NaN,True,NaN,NaN,u'no'
14996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
att_detail['count']=count

In [86]:
att_detail=att_detail.set_index('count')

In [87]:
amb_det=pd.DataFrame()
meal_det=pd.DataFrame()
amb_count=[]
meal_count=[]

In [88]:
# extract detailed data for 'ambience' and 'Good for meal'
for i in range(len(att_detail)):
    amb_count.append(i)
    if pd.isna(att_detail['Ambience'][i]) or (att_detail['Ambience'][i]=='None'): 
        amb_det=amb_det.append(pd.Series(),ignore_index=True)
    else:
        d = att_detail['Ambience'][i]
        d = d.replace('True', "'True'")
        d = d.replace('False',"'False'")
        d = d.replace("'", "\"")
        d = json.loads(d)
        d=pd.DataFrame.from_dict(d,orient='index')
        d=d.transpose()
        amb_det=amb_det.append(d,sort='True')

In [89]:
amb_det.tail(n=5)

      casual classy  divey hipster intimate romantic touristy trendy upscale
14995   True  False  False   False    False    False    False  False   False
14996    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
14997    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
14998    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN
14999    NaN    NaN    NaN     NaN      NaN      NaN      NaN    NaN     NaN

In [90]:
# extract detailed data for 'ambience' and 'Good for meal'
for i in range(len(att_detail)):
    #print i
    meal_count.append(i)
    if pd.isna(att_detail['GoodForMeal'][i]) or (att_detail['GoodForMeal'][i]=='None'): 
        meal_det=meal_det.append(pd.Series(),ignore_index=True)
    else:
        d = att_detail['GoodForMeal'][i]
        d = d.replace('True', "'True'")
        d = d.replace('False',"'False'")
        d = d.replace("'", "\"")
        d = json.loads(d)
        d=pd.DataFrame.from_dict(d,orient='index')
        d=d.transpose()
        meal_det=meal_det.append(d,sort='True')

In [91]:
meal_det.tail(n=10)

      breakfast brunch dessert dinner latenight  lunch
14990     False   True   False   True     False   True
14991       NaN    NaN     NaN    NaN       NaN    NaN
14992       NaN    NaN     NaN    NaN       NaN    NaN
14993       NaN    NaN     NaN    NaN       NaN    NaN
14994       NaN    NaN     NaN    NaN       NaN    NaN
14995     False  False    True   True     False  False
14996       NaN    NaN     NaN    NaN       NaN    NaN
14997       NaN    NaN     NaN    NaN       NaN    NaN
14998       NaN    NaN     NaN    NaN       NaN    NaN
14999       NaN    NaN     NaN    NaN       NaN    NaN

In [92]:
#pd.merge(meal_det,amb_det)
comb_det=amb_det.merge(meal_det,left_index=True,right_index=True)

In [93]:
att_detail=att_detail.merge(comb_det,left_index=True,right_index=True)

In [94]:
att_detail.tail(n=5).transpose()

count,14995,14996,14997,14998,14999
AcceptsInsurance,NaN,NaN,NaN,NaN,NaN
AgesAllowed,NaN,NaN,NaN,NaN,NaN
Alcohol,u'beer_and_wine',NaN,NaN,NaN,NaN
Ambience,"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,NaN
BYOB,NaN,NaN,NaN,NaN,NaN
BYOBCorkage,NaN,NaN,NaN,NaN,NaN
BestNights,NaN,NaN,NaN,NaN,NaN
BikeParking,True,NaN,NaN,NaN,NaN
BusinessAcceptsBitcoin,NaN,NaN,NaN,NaN,NaN
BusinessAcceptsCreditCards,True,True,NaN,NaN,NaN
BusinessParking,"{'garage': True, 'street': False, 'validated':...",NaN,NaN,"{'garage': False, 'street': False, 'validated'...",NaN
ByAppointmentOnly,NaN,NaN,NaN,NaN,True
Caters,False,NaN,NaN,NaN,NaN
CoatCheck,NaN,NaN,NaN,NaN,NaN
Corkage,NaN,NaN,NaN,NaN,NaN
DietaryRestrictions,NaN,NaN,NaN,NaN,NaN
DogsAllowed,NaN,NaN,NaN,NaN,NaN
DriveThru,NaN,NaN,NaN,NaN,NaN
GoodForDancing,NaN,NaN,NaN,NaN,NaN
GoodForKids,True,NaN,NaN,NaN,NaN
GoodForMeal,"{'dessert': True, 'latenight': False, 'lunch':...",NaN,NaN,NaN,NaN
HairSpecializesIn,NaN,NaN,NaN,NaN,NaN
HappyHour,NaN,NaN,NaN,NaN,NaN
HasTV,False,NaN,NaN,NaN,NaN
Music,NaN,NaN,NaN,NaN,NaN
NoiseLevel,u'quiet',NaN,NaN,NaN,NaN
OutdoorSeating,False,NaN,NaN,NaN,NaN
RestaurantsAttire,u'casual',NaN,NaN,NaN,NaN
RestaurantsDelivery,False,NaN,NaN,NaN,NaN
RestaurantsGoodForGroups,True,NaN,NaN,NaN,NaN
RestaurantsPriceRange2,2,NaN,NaN,2,2
RestaurantsReservations,True,NaN,NaN,NaN,NaN
RestaurantsTableService,NaN,NaN,NaN,NaN,NaN
RestaurantsTakeOut,True,NaN,NaN,NaN,NaN
Smoking,NaN,NaN,NaN,NaN,NaN
WheelchairAccessible,NaN,NaN,NaN,NaN,NaN
WiFi,u'no',NaN,NaN,NaN,NaN
casual,True,NaN,NaN,NaN,NaN
classy,False,NaN,NaN,NaN,NaN
divey,False,NaN,NaN,NaN,NaN
hipster,False,NaN,NaN,NaN,NaN
intimate,False,NaN,NaN,NaN,NaN
romantic,False,NaN,NaN,NaN,NaN
touristy,False,NaN,NaN,NaN,NaN
trendy,False,NaN,NaN,NaN,NaN
upscale,False,NaN,NaN,NaN,NaN
breakfast,False,NaN,NaN,NaN,NaN
brunch,False,NaN,NaN,NaN,NaN
dessert,True,NaN,NaN,NaN,NaN
dinner,True,NaN,NaN,NaN,NaN
latenight,False,NaN,NaN,NaN,NaN
lunch,False,NaN,NaN,NaN,NaN

In [95]:
bus_data=bus_data.merge(att_detail,left_index=True,right_index=True)

In [96]:
bus_data.head(n=3).transpose()

,0,1,2
address,2818 E Camino Acequia Drive,30 Eglinton Avenue W,"10110 Johnston Rd, Ste 15"
attributes,{u'GoodForKids': u'False'},"{u'GoodForMeal': u'{'dessert': False, 'latenig...","{u'GoodForMeal': u'{'dessert': False, 'latenig..."
business_id,1SWheh84yJXfytovILXOAQ,QXAEGFB4oINsVuTFxEYKFQ,gnKjwL_1w79qoiV3IC_xQQ
categories,"Golf, Active Life","Specialty Food, Restaurants, Dim Sum, Imported...","Sushi Bars, Restaurants, Japanese"
city,Phoenix,Mississauga,Charlotte
hours,None,"{u'Monday': u'9:0-0:0', u'Tuesday': u'9:0-0:0'...","{u'Monday': u'17:30-21:30', u'Friday': u'17:30..."
is_open,0,1,1
latitude,33.5221,43.6055,35.0926
longitude,-112.018,-79.6523,-80.8591
name,Arizona Biltmore Golf Club,Emerald Chinese Restaurant,Musashi Japanese Restaurant
postal_code,85016,L5R 3E7,28210
review_count,5,128,170
stars,3,2.5,4
state,AZ,ON,NC
ctg1,Golf,Specialty Food,Sushi Bars
ctg2,Active Life,Restaurants,Restaurants
ctg3,None,Dim Sum,Japanese
ctg4,None,Imported Food,None
ctg5,None,Food,None
ctg6,None,Chinese,None
ctg7,None,Ethnic Food,None
ctg8,None,Seafood,None
8,None,None,None
9,None,None,None
10,None,None,None
11,None,None,None
12,None,None,None
13,None,None,None
14,None,None,None
15,None,None,None
...,...,...,...
HappyHour,NaN,NaN,NaN
HasTV,NaN,False,True
Music,NaN,NaN,NaN
NoiseLevel,NaN,u'loud',u'average'
OutdoorSeating,NaN,False,False
RestaurantsAttire,NaN,u'casual','casual'
RestaurantsDelivery,NaN,False,False
RestaurantsGoodForGroups,NaN,True,True
RestaurantsPriceRange2,NaN,2,2
RestaurantsReservations,NaN,True,True
RestaurantsTableService,NaN,True,True
RestaurantsTakeOut,NaN,True,True
Smoking,NaN,NaN,NaN
WheelchairAccessible,NaN,NaN,NaN
WiFi,NaN,u'no',u'no'
casual,NaN,True,True
classy,NaN,False,False
divey,NaN,False,False
hipster,NaN,False,False
intimate,NaN,False,False
romantic,NaN,False,False
touristy,NaN,False,False
trendy,NaN,False,False
upscale,NaN,False,False
breakfast,NaN,False,False
brunch,NaN,False,False
dessert,NaN,False,False
dinner,NaN,True,True
latenight,NaN,False,False
lunch,NaN,True,True

In [97]:
bus_data.groupby('state').count()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,romantic,touristy,trendy,upscale,breakfast,brunch,dessert,dinner,latenight,lunch
state,,,,,,,,,,,,,,,,,,,,,
AB,599,488,599,598,599,434,599,599,599,599,...,185,185,185,181,84,84,84,84,84,84
AZ,4402,3721,4402,4389,4402,3528,4402,4402,4402,4402,...,683,683,683,680,457,457,457,457,457,457
IL,162,142,162,162,162,121,162,162,162,162,...,29,29,29,28,15,15,15,15,15,15
NC,1116,947,1116,1113,1116,847,1116,1116,1116,1116,...,282,282,282,282,194,194,194,194,194,194
NV,2862,2443,2862,2853,2862,2177,2862,2862,2862,2862,...,547,547,547,545,352,352,352,352,352,352
NY,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,1,1,1,1
OH,1199,1023,1199,1195,1199,902,1199,1199,1199,1199,...,335,335,335,333,198,198,198,198,198,198
ON,2533,2136,2533,2525,2533,1868,2533,2533,2533,2533,...,842,842,842,838,506,506,506,506,506,506
PA,902,776,902,901,902,671,902,902,902,902,...,231,231,231,228,133,133,133,133,133,133
QC,724,664,724,723,724,504,724,724,724,724,...,301,301,301,301,179,179,179,179,179,179
SC,91,77,91,91,91,74,91,91,91,91,...,22,22,22,22,20,20,20,20,20,20
TX,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
WI,407,350,407,406,407,322,407,407,407,407,...,100,100,100,100,68,68,68,68,68,68

In [98]:
bus_data.filter(items=['state','city','business_id']).groupby(['state','city']).count()

                         business_id
state city
AB    Airdrie                     10
      Alberta                      1
      Calgary                    576
      Chestermere                  5
      Edgemont                     1
      Evergreen                    1
      Northwest Calgary            1
      Rocky View                   2
      Rocky View County            1
      Rockyview                    1
AZ    Anthem                       2
      Apache Junction              3
      Arizona                      1
      Avondale                    50
      Buckeye                      5
      Carefree                     5
      Cave Creek                  33
      Chandler                   340
      El Mirage                    7
      Fort McDowell                1
      Fort Mcdowell                1
      Fountain Hills              25
      Gilbert                    259
      Glendale                   290
      Goodyear                    67
      Guadalupe                    1
      Higley                       4
      Laveen                       7
      Laveen Village               1
      Litchfield                   1
...                              ...
QC    Vaudreuil                    1
      Vaudreuil-Dorion             3
      Verdun                       8
      Westmount                   11
SC    Clover                       1
      Fort Mill                   52
      Indian Land                 10
      Lake Wylie                   2
      Rock Hill                   26
TX    Phoenix                      1
WI    Belleville                   4
      Cottage Grove                1
      Cross Plains                 2
      De Forest                    1
      DeForest                     1
      Deerfield                    1
      Fitchburg                   18
      Madison                    277
      Mc Farland                   4
      McFarland                    1
      Middleton                   21
      Monona                      13
      Mount Horeb                  4
      Oregon                       5
      Sauk City                    1
      Stoughton                   11
      Sun Prairie                 20
      Verona                      11
      Waunakee                     9
      Windsor                      2

[450 rows x 1 columns]

In [109]:
#check the top counts by City and region
bus_data[['state','city','business_id']][bus_data["state"]=='OH'].groupby(['state','city']).count()

                            business_id
state city
OH    Akron                          41
      Amherst                         7
      Aurora                         10
      Avon                           18
      Avon Lake                       9
      Bainbridge                      1
      Barberton                       1
      Bay Village                     3
      Beachwood                      23
      Bedford                        11
      Bedford Heights                 1
      Berea                           8
      Boston Heights                  1
      Bratenahl                       1
      Brecksville                     5
      Broadview Heights              10
      Brook Park                      4
      Brooklyn                        6
      Brookpark                       1
      Brunswick                      14
      Burton                          4
      Chagrin Falls                  13
      Chardon                         7
      Chesterland                     7
      Cleveland                     283
      Cleveland Heights              15
      Columbia Station                2
      Concord                         2
      Cuyahoga Falls                 30
      East Cleveland                  1
...                                 ...
      Parma                          20
      Parma Heights                   3
      Peninsula                       2
      Pepper Pike                     2
      Richmond Heights                2
      Rocky River                    22
      Sagamore Hills                  2
      Seven Hills                     1
      Shaker Heights                  5
      Shaker Hts                      1
      Sheffield Village               2
      Solon                          18
      South Euclid                    5
      Stow                           20
      Streetsboro                    14
      Strongsville                   43
      Tallmadge                       3
      Twinsburg                      10
      University Heights              4
      Valley View                     1
      Wadsworth                       2
      Warrensville Heights            5
      Warrensville Hts                1
      West Lake                       1
      Westlake                       37
      Wickliffe                       3
      Willoughby                     23
      Willoughby Hills                2
      Willowick                       5
      Woodmere                        4

[110 rows x 1 columns]

In [110]:
#check the top counts by City and region
bus_data[['state','city','business_id']][bus_data["state"]=='AZ'].groupby(['state','city']).count()

                           business_id
state city
AZ    Anthem                         2
      Apache Junction                3
      Arizona                        1
      Avondale                      50
      Buckeye                        5
      Carefree                       5
      Cave Creek                    33
      Chandler                     340
      El Mirage                      7
      Fort McDowell                  1
      Fort Mcdowell                  1
      Fountain Hills                25
      Gilbert                      259
      Glendale                     290
      Goodyear                      67
      Guadalupe                      1
      Higley                         4
      Laveen                         7
      Laveen Village                 1
      Litchfield                     1
      Litchfield Park               15
      Mesa                         449
      Old Town Scottsdale            1
      Paradise Valley               11
      Peoria                       143
      Phoenix                     1480
      Phoenix,                       1
      Queen Creek                    9
      Rio Verde                      1
      SURPRISE                       1
      Scottsdale                   703
      Somerton                       1
      Sun City                      13
      Sun City West                 10
      Sun Lakes                      1
      Surprise                      88
      Tempe                        348
      Tolleson                      17
      Valleywide                     1
      Youngtown                      4
      phoenix                        1
      ​Chandler                      1

In [111]:
#subset the data for greater Phoenix area
az_data=bus_data[bus_data["state"]=='AZ']

In [130]:
az_data[['name','address','ctg1','ctg2','ctg3']][az_data["ctg2"]=='Accountants']

Empty DataFrame
Columns: [name, address, ctg1, ctg2, ctg3]
Index: []

In [133]:
az_data.head(n=5)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,romantic,touristy,trendy,upscale,breakfast,brunch,dessert,dinner,latenight,lunch
0,2818 E Camino Acequia Drive,{u'GoodForKids': u'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5940 W Union Hills Dr,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Y6iyemLX_oylRpnr38vgMA,"Nail Salons, Beauty & Spas, Day Spas",Glendale,"{u'Tuesday': u'12:0-18:0', u'Friday': u'10:0-1...",0,33.654815,-112.188568,Vita Bella Fine Day Spa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2450 E Indian School Rd,"{u'BusinessParking': u'{'garage': False, 'stre...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{u'Monday': u'7:0-0:0', u'Tuesday': u'7:0-0:0'...",1,33.495194,-112.028588,Taco Bell,...,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN
16,"4848 E Cactus Rd, Ste 100","{u'BusinessAcceptsCreditCards': u'True', u'Res...",giC3pVVFxCRR89rApqklyw,"Hair Stylists, Beauty & Spas, Hair Salons, Men...",Scottsdale,"{u'Monday': u'0:0-0:0', u'Tuesday': u'9:0-19:0...",1,33.600071,-111.977371,Knot Salon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### References:
1. https://stackoverflow.com/questions/35588515/json-opening-yelp-data-challenges-data-set
2. https://stackoverflow.com/questions/43624065/yelp-data-file-type
3. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html#pandas.io.json.json_normalize
4. https://stackoverflow.com/questions/988228/convert-a-string-representation-of-a-dictionary-to-a-dictionary
5. https://github.com/kylegilde/NLP-and-Text-Mining-in-Python/tree/master/Classifying-Yelp-Reviews
6. https://github.com/nobieyi00/CUNY-SPS-DATA620/blob/master/FINAL_PROJECT/Data620_final_proj.ipynb
7. https://github.com/raghu74us/DATA-620/blob/master/FinalProject/DATA%20620%20Final%20Project.ipynb
8. https://github.com/jonathan1987/DATA620/blob/master/FinalProject/Final_project_notebook.ipynb
9. https://www.datacamp.com/community/tutorials/text-analytics-beginners-nltk